@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.registerconstructor{
  width: get-vw(1920px,1920);
  min-height: get-vw(236px,1920);
  background: #FFFFFF;
  .reghdr{
    width: get-vw(1920px,1920);
    height: get-vw(211px,1920);

    p{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(48px,1920);
      line-height: get-vw(56px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      margin-left: get-vw(142px,1920);
      padding-top: get-vw(100px,1920);
    }
  }
}
.formregister{
  width: get-vw(628px,1920);
  min-height: get-vw(724px,1920);
  margin: auto auto;

}
.zabilandzapomnit{
  width: get-vw(628px,1920);
  margin-top: get-vw(30px,1920);
  label{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920) !important;
    line-height: get-vw(22px,1920) !important;
    letter-spacing: -0.02em;
    color: #252223;
  }
}
.footregister{
  width: get-vw(628px,1920);
  height: get-vw(22px,1920);
  display: flex;
  margin-top: get-vw(50px,1920);
  p{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
   margin-left: get-vw(155px,1920);

    min-width: max-content;
  }
  a{
    min-width:max-content ;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    text-align: right;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #13AD54;
    margin-left: get-vw(10px,1920);
  }
}

@media screen and(max-width: 500px){
  .registerconstructor{
    width: get-vw(375px,375);
    min-height: get-vw(91px,375);
    background: #FFFFFF;
    .reghdr{
      width: get-vw(375px,375);
      height: get-vw(91px,375);

      p{
        font-size: get-vw(26px,375);
        line-height: 120%;
        margin-left: get-vw(15px,375);
        padding-top: get-vw(60px,375);
      }
    }
  }
  .formregister{
    width: get-vw(345px,375);
    min-height: get-vw(515px,375);
    margin-left: get-vw(15px,375);
    margin-top: get-vw(40px,375);

  }
  .zabilandzapomnit{
    width: get-vw(345px,375);
    height: get-vw(66px,375);
    margin-top: get-vw(13px,375);
    display: flex;
    align-items: flex-start;

    label{
      font-size: get-vw(13px,375) !important;
      line-height: 160%!important;
      letter-spacing: -0.02em;
      p{
        height: get-vw(42px,375);
        width: get-vw(307px,375);
        margin-top: get-vw(15px,375);
      }

    }
  }
  .footregister{
    width: get-vw(375px,375);
    height: get-vw(26px,375);
    display: flex;
    margin-top: get-vw(60px,375);
    padding-bottom: get-vw(60px,375);
    p{
     font-size: get-vw(16px,375);
      line-height: 160%;
      margin-left: get-vw(19px,375);

      min-width: max-content;
    }
    a{
     font-size: get-vw(18px,375);
      line-height: get-vw(22px,375);

      margin-left: get-vw(8px,375);
    }
  }

}