@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.registerconstructor{
  width: get-vw(1920px,1920);
  min-height: get-vw(236px,1920);
  background: #FFFFFF;
  .reghdr{
    width: get-vw(1920px,1920);
    height: get-vw(211px,1920);

    p{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(48px,1920);
      line-height: get-vw(56px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      margin-left: get-vw(142px,1920);
      padding-top: get-vw(100px,1920);
    }
  }
}
.formregister{
  width: get-vw(628px,1920);
  min-height: get-vw(500px,1920);
  margin: auto auto;

}
.zabilandzapomnit{
  width: get-vw(628px,1920);
  margin-top: get-vw(30px,1920);
  label{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920) !important;
    line-height: get-vw(22px,1920) !important;
    letter-spacing: -0.02em;
    color: #252223;
  }
}
.footregister{
  width: get-vw(628px,1920);
  height: get-vw(300px,1920);
  display: flex;
  flex-direction: column;
  margin-top: get-vw(30px,1920);
  margin-left: get-vw(645px,1920);
  .mubtnfacebook{
    width: get-vw(628px,1920);
    height: get-vw(75px,1920);
    background: #3B5998;
    border-radius: get-vw(10px,1920);
    margin-top: get-vw(0px,1920);
    cursor: pointer;
    display: flex;
    border: none;
    h2{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(20px,1920);
      line-height: get-vw(23px,1920);
      text-align: center !important;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      margin-left: get-vw(120px,1920);
      margin-top: get-vw(26px,1920);
      color: #FFFFFF;

    }
    img{
      width: get-vw(40px,1920);
      height: get-vw(40px,1920);
      margin-left: get-vw(40px,1920);
      margin-top: get-vw(18px,1820);
    }
  }

  .btngoogle{
    width: get-vw(628px,1920);
    height: get-vw(75px,1920);
    background: #DC4E41;
    border-radius: get-vw(10px,1920);
    margin-top: get-vw(25px,1920);
    border: none;
    cursor: pointer;
    display: flex;

    h2{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(20px,1920);
      line-height: get-vw(23px,1920);
      text-align: center !important;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      margin-left: get-vw(120px,1920);
      margin-top: get-vw(26px,1920);
      color: #FFFFFF;

    }
    img{
      width: get-vw(40px,1920);
      height: get-vw(40px,1920);
      margin-left: get-vw(40px,1920);
      margin-top: get-vw(18px,1820);
    }
  }
  p{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    margin-left: get-vw(155px,1920);
    margin-top: get-vw(50px,1920);
    min-width: max-content;
  }
  a{
    min-width:max-content ;
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    text-align: right;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #13AD54;
    margin-top: get-vw(50px,1920);
    margin-left: get-vw(10px,1920);
  }
}

@media screen and(max-width: 600px){
  .registerconstructor{
    width: get-vw(375px,375);
    min-height: get-vw(91px,375);
    background: #FFFFFF;
    .reghdr{
      width: get-vw(375px,375);
      height: get-vw(91px,375);

      p{
        font-size: get-vw(26px,375);
        line-height: 120%;
        margin-left: get-vw(15px,375);
        padding-top: get-vw(60px,375);
      }
    }
  }
  .formregister{
    width: get-vw(345px,375);
    min-height: get-vw(415px,375);
    margin-left: get-vw(15px,375);
    margin-top: get-vw(40px,375);

  }
  .zabilandzapomnit{
    width: get-vw(345px,375);
    height: get-vw(66px,375);
    margin-top: get-vw(13px,375);
    display: flex;
    align-items: flex-start;

    label{
      font-size: get-vw(13px,375) !important;
      line-height: 160%!important;
      letter-spacing: -0.02em;
      p{
        height: get-vw(42px,375);
        width: get-vw(307px,375);
        margin-top: get-vw(15px,375);
      }

    }
  }
  .footregister{
    width: get-vw(375px,375);
    height: get-vw(280px,375);
    display: flex;
    flex-direction: column;
    margin-top: get-vw(30px,375);
    margin-left: get-vw(0px,375);
    .mubtnfacebook{
      width: get-vw(345px,375);
      height: get-vw(57px,375);
      background: #3B5998;
      border-radius: get-vw(10px,375);
      margin-top: get-vw(30px,375);
      margin-left: get-vw(15px,375);
      cursor: pointer;
      display: flex;
      border: none;
      h2{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(16px,375);
        line-height: get-vw(19px,375);
        text-align: center !important;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        margin-left: get-vw(30px,375);
        margin-top: get-vw(19px,375);
        color: #FFFFFF;

      }
      img{
        width: get-vw(40px,375);
        height: get-vw(40px,375);
        margin-left: get-vw(15px,375);
        margin-top: get-vw(8.5px,375);
      }
    }

    .btngoogle{
      width: get-vw(345px,375);
      height: get-vw(57px,375);
      background: #DC4E41;
      border-radius: get-vw(10px,375);
      margin-top: get-vw(25px,375);
      border: none;
      cursor: pointer;
      display: flex;
      margin-left: get-vw(15px,375);

      h2{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(16px,375);
        line-height: get-vw(19px,375);
        text-align: center !important;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        margin-left: get-vw(30px,375);
        margin-top: get-vw(19px,375);
        color: #FFFFFF;

      }
      img{
        width: get-vw(40px,375);
        height: get-vw(40px,375);
        margin-left: get-vw(15px,375);
        margin-top: get-vw(8.5px,375);
      }
    }
    p{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,375);
      line-height: get-vw(18px,375);
      letter-spacing: -0.02em;
      color: #252223;
      margin-left: get-vw(25px,375);
      margin-top: get-vw(30px,375);
      min-width: max-content;
    }
    a{
      min-width:max-content ;
      font-family: Montserrat-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(16px,375);
      line-height: get-vw(18px,375);
      text-align: right;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #13AD54;
      margin-top: get-vw(30px,375);
      margin-left: get-vw(10px,375);
    }
  }



}