
@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.foodpage1containeritem{
  width: get-vw(1636px,1920);
  min-height: get-vw(798px,1920);
  margin-top: get-vw(40px,1920);
  margin-left: get-vw(40px,1920);
  overflow: hidden;
  padding-bottom: get-vw(100px,1920);

  .bigitem{
    width: get-vw(798px,1920);
    height: get-vw(798px,1920);
    border-radius: get-vw(10px,1920);
    vertical-align: top;
    margin-top: get-vw(40px,1920);
    overflow: hidden;
    position: relative;
    z-index: 15;
    background-repeat: no-repeat !important;
    background-size:get-vw(798px,1920)  get-vw(798px,1920)!important;
    cursor: pointer;


  }
  .smollitem{
    width: get-vw(379px,1920);
    height: get-vw(379px,1920);
    border-radius: get-vw(10px,1920);
    overflow: hidden;
    float: left;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: get-vw(379px,1920) get-vw(379px,1920) ;
    cursor: pointer;
  }

}
.itemcontroler{
  width: get-vw(798px,1920);
  height: get-vw(798px,1920) !important;
  display: inline-block;
  position: absolute;
  border-radius: get-vw(10px,1920);
  z-index: 0;
  &:hover{
    background: #13AD54 !important;
    z-index: 30;
    opacity: 0.8;
  }

}
.dateitem{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(21px,1920);
  line-height: 160%;
 er-spacing: -0.02em;
   color: #FFFFFF;
  margin-top: get-vw(662px,1920);
  margin-left: get-vw(50px,1920);
}
.itemtitle{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(24px,1920);
  line-height: get-vw(28px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: get-vw(24px,1920);
  margin-left: get-vw(50px,1920);
}

.itemcontroler2{
  width: get-vw(379px,1920);
  height: get-vw(379px,1920);
  display: inline-block;
  position: absolute;
  border-radius: get-vw(10px,1920);
  z-index: 0;
  &:hover{
    background: #13AD54 !important;

    opacity: 0.8;
  }

}
.dateitem2{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(21px,1920);
  line-height: 160%;
  er-spacing: -0.02em;
  color: #FFFFFF;
  margin-top: get-vw(243px,1920);
  margin-left: get-vw(50px,1920);
}
.itemtitle2{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(24px,1920);
  line-height: get-vw(28px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: get-vw(24px,1920);
  margin-left: get-vw(50px,1920);
}
.foterfood{
  height: get-vw(275px,1920);
  width: get-vw(1920px,1920);

  display: flex;
}




@media screen and (max-width: 500px) {
  .foodpage1containeritem{
    width: get-vw(345px,375);
    min-height: get-vw(425px,375);
    margin-top: get-vw(40px,375);
    margin-left: get-vw(0px,375);
    overflow: unset;
    display: flex;
    flex-direction: column;
    padding-bottom: get-vw(60px,375);
    .bigitem{
      width: get-vw(315px,345) !important;
      height: get-vw(315px,345)!important;
      border-radius: get-vw(10px,345);
      vertical-align: unset;
      margin-top: get-vw(20px,345);

      overflow: unset;
      position: unset;
      background-repeat: no-repeat !important;
      background-size:get-vw(315px,345)  get-vw(315px,345)!important;
      cursor: pointer;
      margin-left: get-vw(-5px,375);


    }
    .smollitem{
      width: get-vw(315px,345);
      height: get-vw(315px,345);
      border-radius: get-vw(10px,345);
      margin-left: get-vw(-5px,375)!important;
      margin-top: get-vw(20px,375)!important;
      overflow: unset;
      float: unset;
      vertical-align: unset;
      background-size:get-vw(315px,345)  get-vw(315px,345)!important;
    }

  }
  .itemcontroler{
    width: get-vw(315px,345);
    height: get-vw(315px,345) !important;
    display: inline-block;
    position: absolute;
    border-radius: get-vw(10px,345);
    z-index: 0;
    &:hover{
      background: #13AD54 !important;
      z-index: 30;
      opacity: 0.8;
    }

  }
  .dateitem{
    font-size: get-vw(14px,375);
    line-height: 150%;
    margin-top: get-vw(271px,375);
    margin-left: get-vw(15px,375);
  }
  .itemtitle{
   font-size: get-vw(16px,375);
    line-height: get-vw(19px,375);
    margin-top: get-vw(18px,375);
    margin-left: get-vw(15px,375);
  }

  .itemcontroler2{
    width: get-vw(315px,345);
    height: get-vw(315px,345) !important;
    display: inline-block;
    position: absolute;
    border-radius: get-vw(10px,345);
    z-index: 0;
    &:hover{
      background: #13AD54 !important;
      z-index: 30;
      opacity: 0.8;
    }

  }
  .dateitem2{
    font-size: get-vw(14px,375);
    line-height: 150%;
    margin-top: get-vw(271px,375);
    margin-left: get-vw(15px,375);
  }
  .itemtitle2{
    font-size: get-vw(16px,375);
    line-height: get-vw(19px,375);
    margin-top: get-vw(18px,375);
    margin-left: get-vw(15px,375);
  }
  .foterfood{
    height: get-vw(147px,375);
    width: get-vw(345px,345);

    display: flex;
  }
}