@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.Basketconstructor{
  width: get-vw(1920px,1920);
  min-height: get-vw(519px,1920);
  background: #FFFFFF;
  .bskhdr{
    width: get-vw(1920px,1920);
    height: get-vw(236px,1920);
      .baskettitle{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(48px,1920);
        line-height: get-vw(56px,1920);
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #252223;
        margin-left: get-vw(142px,1920);
        padding-top: get-vw(100px,1920);
      }

  }
  .bskconstr2{
    width: get-vw(1625px,1920);
    min-height: get-vw(283px,1920);
    margin-left: get-vw(142px,1920);
    display: flex;
    flex-direction: column;
    align-items: center;
      .basketstatus{
        min-width: max-content;
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(24px,1920);
        line-height: get-vw(28px,1920);
        text-align: center;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #252223;
        text-align: center;
       
        
      }
    .btndiv2{
      width: get-vw(1625px,1920);
      height: get-vw(175px,1920);
      display: flex;
      justify-content: center;
      margin-top: get-vw(80px,1920);
      cursor: pointer;
      .btnpushmenu{
        width: get-vw(400px,1920);
        height: get-vw(75px,1920);
        background: #13AD54;
        border: 1px solid #13AD54;
        box-sizing: border-box;
        border-radius: get-vw(10px,1920);
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(20px,1920);
        line-height: get-vw(23px,1920);
        text-align: center;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;

        &:hover{
          background: #EB2F2F;
          border: 1px solid #EB2F2F;
          box-sizing: border-box;
          border-radius: 10px;
          color: #FFFFFF;
        }

      }
    }



      .btndiv{
        width: get-vw(1625px,1920);
        height: get-vw(75px,1920);
        display: flex;
        justify-content: center;
        margin-top: get-vw(80px,1920);
        cursor: pointer;

        .btnpushmenu{
          width: get-vw(400px,1920);
          height: get-vw(75px,1920);
          background: #13AD54;
          border: 1px solid #13AD54;
          box-sizing: border-box;
          border-radius: get-vw(10px,1920);
          font-family: Mardoto-Medium;
          font-style: normal;
          font-weight: 500;
          font-size: get-vw(20px,1920);
          line-height: get-vw(23px,1920);
          text-align: center;
          letter-spacing: -0.04em;
          text-transform: uppercase;
          color: #FFFFFF;
          cursor: pointer;

          &:hover{
            background: #EB2F2F;
            border: 1px solid #EB2F2F;
            box-sizing: border-box;
            border-radius: 10px;
            color: #FFFFFF;
          }

        }
      }
  }

}
.itemBasket{
  width: get-vw(1636px,1920);
  min-height: get-vw(190px,1920);
  .promokodandbonusblok{
    width: get-vw(1636px,1920);
    height: get-vw(92px,1920);
    border-top: 1px solid #EFEFEF;;
    background: #ffffff;
    display: flex;
    .promoblok{
      width: get-vw(285px,1920);
      height: get-vw(64px,1920);
       background: #F9F9F9;
      border-radius: get-vw(10px,1920);
      display: flex;
      align-items: center;
      margin-top: get-vw(27px,1920);
      img{
        width: get-vw(40px,1920 );
        height: get-vw(40px,1920 );
        cursor: pointer;
        margin-right: get-vw(12px,1920);
        &:hover{
          filter: invert(80%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
        }
      }
    }
   .bonuss {
    width:get-vw( 406px,1920 );
    height: get-vw(64px,1920 );
    background: #F9F9F9;
    border-radius: get-vw(10px,1920);
    margin-left: get-vw(40px,1920 );
    margin-top: get-vw(27px,1920 );
    display: flex;
     padding-right: get-vw(12px,1920);
    p{
      min-width:get-vw(240px,1920);
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,1920 );
      line-height: get-vw(20px,1920 );
      letter-spacing: -0.02em;
      color: #252223;
      margin-top: get-vw(22px,1920 );
      margin-left: get-vw(15px,1920 );
    }
    img{
      width: get-vw(40px,1920 );
      height: get-vw(40px,1920 );
      margin-top: get-vw(12px, 1920);
      margin-left: get-vw(28px, 1920);
      cursor: pointer;

      &:hover{
        filter: invert(80%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
      }
    }
    span{
      min-width: max-content;
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(24px, 1920);
      line-height: get-vw(28px,1920 );
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #13AD54;
      margin-top: get-vw(18px, 1920);
      margin-left: get-vw(15px, 1920);
    }
   }
   .totaldiv{
    min-width: get-vw(139px,1920 );
     margin-left: get-vw(590px,1920 );
     margin-top: get-vw(39px, 1920);
     p{
       min-width: get-vw(135px,1920 );
       min-width: max-content;
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(34px, 1920);
      line-height: get-vw(40px,1920 );
      text-align: right;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #13AD54;
      
      
     }
   }
   .clearnbasket{
      margin-left: get-vw(90px,1920 );
      margin-top: get-vw(45px,1920 );
      p{
        min-width: max-content;
        font-family: Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: get-vw(18px,1920 );
        line-height: 150%;
        text-align: right;
        letter-spacing: -0.02em;
        color: #BFB7B6;
        padding-left:get-vw(15px,1920 ) ;
        cursor: pointer;
        &:hover{
          filter: invert(43%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
        }
        img{
          width: get-vw(19px,1920 );
          height: get-vw(19px,1920 );
          margin-left: get-vw(15px,1920 );
         
        }
      }
   }
  }
}
.constrctorformandrecoment{
  width: get-vw(1636px,1920);
  min-height: get-vw(291px,1920);
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
    .formtitle{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(26px, 1920);
      line-height: get-vw(30px,1920 );
      letter-spacing: -0.04em;
      text-transform: uppercase;
       color: #13AD54;
       margin-top: get-vw(150px,1920 );
    }
    .info{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(18px,1920 );
      line-height: get-vw(21px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      margin-top: get-vw(50px,1920 );
    }
    .formandrecomentwraper{
      width: get-vw(1636px,1920);
      min-height: get-vw(100px,1920);
       display: flex;
       align-items: flex-start;
      margin-top: get-vw(15px,1920 );
       .formcontlorel{
           width: get-vw(1052px,1920 );
           min-height: get-vw(100px,1920);
         padding-bottom: get-vw(100px,1920);

       }
       .recometntcontrol{
        width: get-vw(583px,1920 );
        min-height: get-vw(529px,1920);
        background: #F9F9F9;
        border-radius: get-vw(10px, 1920);

         margin-top: get-vw(25px,1920);

       }
    }
}
.shipment{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(18px,1920);
  line-height:get-vw( 21px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #252223;
  margin-top: get-vw(101px,1920);
  
}
.popupbutton{
    width: get-vw(890px,1920);
    height: get-vw(75px,1920);
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: get-vw(50px,1920);
}
.renderadressinput{
  width: get-vw(1052px,1920 );
  min-height: get-vw(326px,1920);
  hr{
    border: 1px solid #EFEFEF;
    margin-top: get-vw(50px,1920);
  }
}
.adresscityortoradress{
  width: get-vw(1052px,1920 );
  min-height: get-vw(436px,1920);
}
.domandkey{
  width: get-vw(429px,1920);
  height: get-vw(75px,1920);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.peytitle{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size:get-vw( 18px,1920);
  line-height: get-vw(21px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #252223;

}
.paymedodsbtn{
  width: get-vw(890px,1920);
   height: get-vw(175px,1920);
   display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: get-vw(50px,1920);
}
.zdachi{
  width: get-vw(433px,1920);
  height:get-vw( 75px,1920);
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: get-vw(10px,1920);
  margin-top: get-vw(50px,1920);
  display: flex;
  .zdachittitle1,zdachittitle2{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    margin-top: get-vw(27px,1920);
    margin-left: get-vw(25px,1920);
  }
}
.adresstitle{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(18px,1920);
  line-height: get-vw(22px,1920);
  letter-spacing: -0.02em;
  color: #252223;
  box-sizing: border-box;
  padding-top: get-vw(50px,1920);
}
.adresselement{
  width: get-vw(690px,1920);
  height: get-vw(65px,1920);
  display: flex;
  flex-wrap: wrap;
  margin-left: get-vw(-40px,1920);
  .itermadresandicon{
    min-width: max-content;
    display: flex;
    margin-left: get-vw(40px,1920);
    margin-top: get-vw(43px,1920);
    img{
      width: get-vw(24px,1920);
      height: get-vw(24px,1920);
    }
    p{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(18px,1920);
      line-height: get-vw(21px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      cursor: pointer;
      margin-left: get-vw(10px,1920);
      &:hover{
        color: #13AD54;
      }

    }
  }
}
.clock{
  width: get-vw(204px,1920);
  height:get-vw( 75px,1920);
  background: #FFFFFF;
  border: get-vw(1px,1920) solid #DFDFDF;
  box-sizing: border-box;
  border-radius:get-vw( 10px,1920);
  margin-top: get-vw(101px,1920);
  display: flex;
  align-items: center;
  cursor: pointer;
  p{
    width: get-vw(140px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height:get-vw( 22px,1920);
    letter-spacing: -0.02em;
    color: #BFB7B6;
    margin-left: get-vw(25px,1920);

    img{
      width: get-vw(11px,1920);
      height: get-vw(15px,1920);
    }
  }
}
.itonalItemcard{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(18px,1920);
  line-height:get-vw( 21px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
 color: #252223;
  margin: get-vw(40px,1920) get-vw(40px,1920);

}
.shiporder{
  width: get-vw(724px,1920);
  min-height: get-vw(429px,1920);
  .gic2{
    width: get-vw(503px,1920);
    height: get-vw(1px,1920 );
    background-color:#BFB7B6 ;
    margin-left: get-vw(41px,1920 );
    
  }
}
.checkbasket{
  width: get-vw(86px,1920);
  height: get-vw(86px,1920);
}
.statussok{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(24px,1920);
  line-height:get-vw( 28px,1920);
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-top: get-vw(50px,1920);
  color: #252223;
}
.userADresesblok{
  width: get-vw(890px,1920);
  height: get-vw(311px,1920);

}
.selectuseradres{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(18px,1920);
  line-height:get-vw( 22px,1920);
  letter-spacing: -0.02em;
   color: #252223;
  margin-top: get-vw(50px,1920);
}
.hradres{
  margin-top: get-vw(50px,1920);
  border: 1px solid #EFEFEF;
}


