@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.Basketconstructor{
  width: get-vw(1920px,1920);
  min-height: get-vw(519px,1920);
  background: #FFFFFF;
  .bskhdr{
    width: get-vw(1920px,1920);
    height: get-vw(236px,1920);
      .baskettitle{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(48px,1920);
        line-height: get-vw(56px,1920);
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #252223;
        margin-left: get-vw(142px,1920);
        padding-top: get-vw(100px,1920);
      }

  }
  .bskconstr2{
    width: get-vw(1625px,1920);
    min-height: get-vw(283px,1920);
    margin-left: get-vw(142px,1920);
    display: flex;
    flex-direction: column;
    align-items: center;
      .basketstatus{
        min-width: max-content;
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(24px,1920);
        line-height: get-vw(28px,1920);
        text-align: center;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #252223;
        text-align: center;
       
        
      }
    .error{
      width: get-vw(890px,1920);
      height: get-vw(15px,1920);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      p{
        min-width: max-content;
        font-family: Montserrat-Medium;
        font-style: normal;
        font-weight: normal;
        font-size: get-vw(12px,1920);
        line-height: get-vw(15px,1920);
        margin-top: get-vw(5px,1920);
        letter-spacing: -0.02em;
         color: #EB2F2F;
      }

    }

    .selecttimeerror{
      min-width: max-content;
      font-family: Montserrat-Medium;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(12px,1920);
      line-height: get-vw(15px,1920);
      margin-top: get-vw(5px,1920);
      letter-spacing: -0.02em;
      color: #13AD54;
    }

    .btndiv2{
      width: get-vw(1625px,1920);
      height: get-vw(175px,1920);
      display: flex;
      justify-content: center;
      margin-top: get-vw(80px,1920);
      cursor: pointer;
      .btnpushmenu{
        width: get-vw(400px,1920);
        height: get-vw(75px,1920);
        background: #13AD54;
        border: 1px solid #13AD54;
        box-sizing: border-box;
        border-radius: get-vw(10px,1920);
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(20px,1920);
        line-height: get-vw(23px,1920);
        text-align: center;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;

        &:hover{
          background: #EB2F2F;
          border: 1px solid #EB2F2F;
          box-sizing: border-box;
          border-radius: 10px;
          color: #FFFFFF;
        }

      }
    }



      .btndiv{
        width: get-vw(1625px,1920);
        height: get-vw(75px,1920);
        display: flex;
        justify-content: center;
        margin-top: get-vw(80px,1920);
        cursor: pointer;

        .btnpushmenu{
          width: get-vw(400px,1920);
          height: get-vw(75px,1920);
          background: #13AD54;
          border: 1px solid #13AD54;
          box-sizing: border-box;
          border-radius: get-vw(10px,1920);
          font-family: Mardoto-Medium;
          font-style: normal;
          font-weight: 500;
          font-size: get-vw(20px,1920);
          line-height: get-vw(23px,1920);
          text-align: center;
          letter-spacing: -0.04em;
          text-transform: uppercase;
          color: #FFFFFF;
          cursor: pointer;

          &:hover{
            background: #EB2F2F;
            border: 1px solid #EB2F2F;
            box-sizing: border-box;
            border-radius: 10px;
            color: #FFFFFF;
          }

        }
      }
  }

}
.itemBasket{
  width: get-vw(1636px,1920);
  min-height: get-vw(190px,1920);
  .promokodandbonusblok{
    width: get-vw(1636px,1920);
    height: get-vw(92px,1920);
    border-top: 1px solid #EFEFEF;;
    background: #ffffff;
    display: flex;
    .promoblok{
      width: get-vw(285px,1920);
      height: get-vw(64px,1920);
       background: #F9F9F9;
      border-radius: get-vw(10px,1920);
      display: flex;
      align-items: center;
      margin-top: get-vw(27px,1920);
      img{
        width: get-vw(40px,1920 );
        height: get-vw(40px,1920 );
        cursor: pointer;
        margin-right: get-vw(12px,1920);
        &:hover{
          filter: invert(80%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
        }
      }
    }
   .bonuss {
    width:get-vw( 406px,1920 );
    height: get-vw(64px,1920 );
    background: #F9F9F9;
    border-radius: get-vw(10px,1920);
    margin-left: get-vw(40px,1920 );
    margin-top: get-vw(27px,1920 );
    display: flex;
     padding-right: get-vw(12px,1920);
    p{
      min-width:get-vw(240px,1920);
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,1920 );
      line-height: get-vw(20px,1920 );
      letter-spacing: -0.02em;
      color: #252223;
      margin-top: get-vw(22px,1920 );
      margin-left: get-vw(15px,1920 );
    }
    img{
      width: get-vw(40px,1920 );
      height: get-vw(40px,1920 );
      margin-top: get-vw(12px, 1920);
      margin-left: get-vw(28px, 1920);
      cursor: pointer;

      &:hover{
        filter: invert(80%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
      }
    }
    span{
      min-width: max-content;
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(24px, 1920);
      line-height: get-vw(28px,1920 );
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #13AD54;
      margin-top: get-vw(18px, 1920);
      margin-left: get-vw(15px, 1920);
    }
   }
   .totaldiv{
    min-width: get-vw(139px,1920 );
     margin-left: get-vw(590px,1920 );
     margin-top: get-vw(39px, 1920);
     p{
       min-width: get-vw(135px,1920 );
       min-width: max-content;
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(34px, 1920);
      line-height: get-vw(40px,1920 );
      text-align: right;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #13AD54;
      
      
     }
   }
   .clearnbasket{
      margin-left: get-vw(90px,1920 );
      margin-top: get-vw(45px,1920 );
      p{
        min-width: max-content;
        font-family: Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: get-vw(18px,1920 );
        line-height: 150%;
        text-align: right;
        letter-spacing: -0.02em;
        color: #BFB7B6;
        padding-left:get-vw(15px,1920 ) ;
        cursor: pointer;
        &:hover{
          filter: invert(43%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
        }
        img{
          width: get-vw(19px,1920 );
          height: get-vw(19px,1920 );
          margin-left: get-vw(15px,1920 );
         
        }
      }
   }
  }
}
.constrctorformandrecoment{
  width: get-vw(1636px,1920);
  min-height: get-vw(291px,1920);

    .formtitle{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(26px, 1920);
      line-height: get-vw(30px,1920 );
      letter-spacing: -0.04em;
      text-transform: uppercase;
       color: #13AD54;
       margin-top: get-vw(150px,1920 );
    }
    .info{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(18px,1920 );
      line-height: get-vw(21px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      margin-top: get-vw(50px,1920 );
    }
    .formandrecomentwraper{
      width: get-vw(1636px,1920);
      min-height: get-vw(100px,1920);
       display: flex;
       align-items: flex-start;
      margin-top: get-vw(15px,1920 );
       .formcontlorel{
           width: get-vw(1052px,1920 );
           min-height: get-vw(100px,1920);
         padding-bottom: get-vw(100px,1920);

       }
       .recometntcontrol{
        width: get-vw(583px,1920 );
        min-height: get-vw(101px,1920);
        background: #F9F9F9;
        border-radius: get-vw(10px, 1920);
        margin-top: get-vw(25px,1920);
         }
    }
}
.shipment{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(18px,1920);
  line-height:get-vw( 21px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #252223;
  margin-top: get-vw(101px,1920);
  
}
.popupbutton{
    width: get-vw(890px,1920);
    height: get-vw(75px,1920);
    display: flex;
    justify-content: space-between;
    align-items: center;
  margin-top: get-vw(50px,1920);
}
.renderadressinput{
  width: get-vw(1052px,1920 );
  min-height: get-vw(326px,1920);
  hr{
    width: get-vw(890px,1920 );
    border: 1px solid #EFEFEF;
    margin-top: get-vw(50px,1920);
  }
}
.adresscityortoradress{
  width: get-vw(1052px,1920 );
  min-height: get-vw(436px,1920);
}
.domandkey{
  width: get-vw(429px,1920);
  height: get-vw(75px,1920);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.peytitle{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size:get-vw( 18px,1920);
  line-height: get-vw(21px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #252223;

}
.paymedodsbtn{
  width: get-vw(890px,1920);
   height: get-vw(175px,1920);
   display: flex;
   flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: get-vw(50px,1920);
}
.zdachi{
  width: get-vw(433px,1920);
  height:get-vw( 75px,1920);
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: get-vw(10px,1920);
  margin-top: get-vw(50px,1920);
  display: flex;
  .zdachittitle1,zdachittitle2{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    margin-top: get-vw(27px,1920);
    margin-left: get-vw(25px,1920);
  }
}
.adresstitle{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(18px,1920);
  line-height: get-vw(22px,1920);
  letter-spacing: -0.02em;
  color: #252223;
  box-sizing: border-box;
  padding-top: get-vw(50px,1920);
}
.adresselement{
  width: get-vw(690px,1920);
  min-height: get-vw(65px,1920);
  display: flex;
  flex-wrap: wrap;
  margin-left: get-vw(-40px,1920);
  .itermadresandicon{
    min-width: max-content;
    display: flex;
    margin-left: get-vw(40px,1920);
    margin-top: get-vw(43px,1920);
    img{
      width: get-vw(24px,1920);
      height: get-vw(24px,1920);
    }
    p{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(18px,1920);
      line-height: get-vw(21px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      cursor: pointer;
      margin-left: get-vw(10px,1920);
      &:hover{
        color: #13AD54;
      }

    }
  }
}
.clock{
  width: get-vw(204px,1920);
  height:get-vw( 75px,1920);
  background: #FFFFFF;
  border: get-vw(1px,1920) solid #DFDFDF;
  box-sizing: border-box;
  border-radius:get-vw( 10px,1920);
  margin-top: get-vw(101px,1920);
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  p{
    width: get-vw(140px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height:get-vw( 22px,1920);
    letter-spacing: -0.02em;
    color: #BFB7B6;
    margin-left: get-vw(25px,1920);


  }
  img{
    width: get-vw(15px,1920);
    height: get-vw(15px,1920);
    object-fit: contain;
  }
}
.overfloscrol{
  width: get-vw(178px,1920 );
  height: get-vw(386px, 1920);
  margin-top: get-vw(25px,1920 );
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 1px;

  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background:  #13AD54;
    border-radius: 10px;
    width: get-vw(69px,1920 );
  }
  &::-webkit-scrollbar-button {


  }
  p{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
     color: #252223;
    margin-top: get-vw(20px,1920);
    margin-left: get-vw(25px,1920);
    cursor: pointer;
  }



}
.itonalItemcard{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(18px,1920);
  line-height:get-vw( 21px,1920);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #252223;
  margin: get-vw(40px,1920) get-vw(40px,1920);

}
.shiporder{
  width: get-vw(724px,1920);
  min-height: get-vw(101px,1920);
  .gic2{
    width: get-vw(503px,1920);
    height: get-vw(1px,1920 );
    background-color:#BFB7B6 ;
    margin-left: get-vw(41px,1920 );
    
  }
}
.checkbasket{
  width: get-vw(86px,1920);
  height: get-vw(86px,1920);
}
.statussok{
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(24px,1920);
  line-height:get-vw( 28px,1920);
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-top: get-vw(50px,1920);
  color: #252223;
}



.twoselect{
  width: get-vw(890px,1920);
  height: get-vw(75px,1920);
  display: flex;
  justify-content: space-between;
  margin-top: get-vw(50px,1920);
  .selectone,.selecttwo{
    width: get-vw(433px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: get-vw(10px,1920);
    cursor: pointer;

    p{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(18px,1920);
      line-height: get-vw(22px,1920);
      letter-spacing: -0.02em;
      color: #BFB7B6;
      margin-top: get-vw(27px,1920);
      margin-left: get-vw(25px,1920);
    }
    img{
      width: get-vw(15px,1920);
      height: get-vw(15px,1920);
      object-fit: contain;
      margin-top: get-vw(30px,1920);
      margin-right: get-vw(30px,1920);
    }
  }
  .modalonecontaainer{
    width: get-vw(433px,1920);
    height: get-vw(433px,1920);
    background: #FFFFFF;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    position: absolute;
    top: get-vw(75px,1920);
    left: get-vw(0px,1920);
  }
}


.userADresesblok{
  width: get-vw(890px,1920);
  height: get-vw(275px,1920);


}
.selectuseradres{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(18px,1920);
  line-height:get-vw( 22px,1920);
  letter-spacing: -0.02em;
   color: #252223;
  margin-top: get-vw(30px,1920);
}
.hradres{
  margin-top: get-vw(50px,1920);
  border: 1px solid #EFEFEF;
}
.clokblok{
  width: get-vw(204px,1920);
  height:get-vw( 75px,1920);
  position: relative;
  z-index: 20;
}
.clockselectwraper{
  width: get-vw(1920px,1920);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.clockcloseWraper{
  width: get-vw(1920px,1920);
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.selectdate{
  position: absolute;
  width: get-vw(204px,1920);
  height: get-vw(436px,1920);
  background: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(3, 142, 62, 0.2);
  border-radius: get-vw(10px,1920);
  left: 0;
  top: get-vw(80px,1920);
  right: 0;
  bottom: 0;
  z-index: 15;
}
.mobileformtitle{
  display: none;
}
.checkdiv{
  hr{
    display: none;
  }
}

@media screen  and (max-width: 600px){
  .Basketconstructor{
    width: get-vw(375px,375);
    min-height: get-vw(397px,375);
    .bskhdr{
      width: get-vw(375px,375);
      height: get-vw(130px,375);
      .baskettitle{
        font-size: get-vw(26px,375);
        line-height: 120%;
        margin-left: get-vw(15px,375);
        padding-top: get-vw(60px,375);
      }

    }
    .bskconstr2{
      width: get-vw(375px,375);
      min-height: get-vw(166px,375);
      margin-left: get-vw(0px,375);
     .basketstatus{
        font-size: get-vw(16px,375);
        line-height: get-vw(19px,375);
        }
      .btndiv2{
        width: get-vw(375px,375);
        height: get-vw(57px,375);
        margin-top: get-vw(30px,375);
        cursor: pointer;
        .btnpushmenu{
          width: get-vw(345px,375);
          height: get-vw(57px,375);
          border-radius: get-vw(10px,375);
          font-size: get-vw(16px,375);
          line-height: get-vw(19px,375);
          }
      }
      .error{
        width: get-vw(345px,375);
        height: get-vw(64px,375);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: get-vw(15px,375);
        p{
          width: get-vw(160px,375);
          height: get-vw(64px,375);
          min-width: unset;
          font-family: Montserrat-Medium;
          font-style: normal;
          font-weight: normal;
          font-size: get-vw(12px,375);
          line-height: 120%;
          margin-top: get-vw(5px,375);
          letter-spacing: -0.02em;
          color: #EB2F2F;
        }

      }
   .btndiv{
        width: get-vw(375px,375);
        height: get-vw(57px,375);
        display: flex;
        justify-content: center;
        margin-top: get-vw(30px,375);
        cursor: pointer;

        .btnpushmenu{
          width: get-vw(345px,375);
          height: get-vw(57px,375);
          border-radius: get-vw(10px,375);
          font-size: get-vw(16px,375);
          line-height: get-vw(19px,375);

          &:hover{
            background: #EB2F2F;
            border: 1px solid #EB2F2F;
            box-sizing: border-box;
            border-radius: 10px;
            color: #FFFFFF;
          }

        }
      }
    }

  }
  .itemBasket{
    width: get-vw(375px,375);
    min-height: get-vw(160px,375);
    .promokodandbonusblok{
      width: get-vw(345px,375);
      height: get-vw(247px,375);
      border-top: get-vw(1px,375) solid #EFEFEF;
      display: flex;
      flex-direction: column;
      position: relative;

      .promoblok{
        width: get-vw(345px,375);
        height: get-vw(42px,375);
        border-radius: get-vw(10px,375);
        align-items: center;
        margin-top: get-vw(79px,375);
        margin-left: get-vw(15px,375);
        img{
          width: get-vw(32px,375 );
          height: get-vw(32px,375 );
          cursor: pointer;
          margin-right: get-vw(15px,375);
          &:hover{
            filter: invert(80%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
          }
        }
      }
      .bonuss {
        width:get-vw( 345px,375 );
        height: get-vw(42px,375 );
       border-radius: get-vw(10px,375);
        margin-left: get-vw(15px,375 );
        margin-top: get-vw(24px,375 );
        display: flex;
        padding-right: get-vw(15px,375);
        p{
          min-width:max-content;
          font-size: get-vw(14px,375 );
          line-height: 150%;
           margin-top: get-vw(10px,375 );
          margin-left: get-vw(15px,375 );
        }
        img{
          width: get-vw(32px,375 );
          height: get-vw(32px,375 );
          margin-top: get-vw(5px, 375);
          margin-left: get-vw(36px, 375);
          cursor: pointer;

          &:hover{
            filter: invert(80%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
          }
        }
        span{
          min-width: max-content;
         font-size: get-vw(16px, 375);
          line-height: get-vw(19px,375 );
          margin-top: get-vw(11px, 375);
          margin-left: get-vw(8px, 375);
        }
      }
      .totaldiv{
        min-width: get-vw(139px,375 );
        margin-left: get-vw(0px,375 );
        margin-top: get-vw(0px, 375);
        position: absolute;
        left: 0;
        top: get-vw(24px,375);
        right: 0;
        bottom: 0;
        p{
          min-width: get-vw(135px,375 );
          min-width: max-content;
          font-size: get-vw(26px, 375);
          line-height: 120%;
          }
      }
      .clearnbasket{
        top: get-vw(25px,375);
        position: absolute;
        p{
          min-width: max-content;
          font-family: Montserrat-Regular;
          font-style: normal;
          font-weight: normal;
          font-size: get-vw(14px,375);
          line-height: 150%;
          text-align: right;
          letter-spacing: -0.02em;
          color: #BFB7B6;
          padding-left:get-vw(15px,1920 ) ;
          cursor: pointer;
          &:hover{
            filter: invert(43%) sepia(62%) saturate(1776%) hue-rotate(116deg) brightness(96%) contrast(85%);
          }
          img{
            width: get-vw(12px,375 );
            height: get-vw(14px,375 );
            margin-left: get-vw(11px,375 );

          }
        }
      }
    }
  }
  .constrctorformandrecoment{
    width: get-vw(375px,375);
    min-height: get-vw(1440px,375);

    .formtitle{
      display: none;
    }
    .info{
      display: none;
    }
    .mobileformtitle{
      display: block;
      p{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(18px, 375);
        line-height: 120%;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #13AD54;
        margin-top: get-vw(60px,375 );
        margin-left: get-vw(15px,375);
      }
      h6{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(16px,375 );
        line-height: get-vw(19px,375);
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #252223;
        margin-top: get-vw(30px,375 );
        margin-left: get-vw(15px,375);
        padding-bottom: get-vw(30px,375);
      }
    }




    .formandrecomentwraper{
      width: get-vw(375px,375);
      min-height: get-vw(100px,375);
      display: flex;
      flex-direction: column-reverse;
      margin-top: get-vw(0px,375 );
      .formcontlorel{
        width: get-vw(375px,375 );
        min-height: get-vw(100px,375);
        padding-bottom: get-vw(60px,375);
        .checkdiv{
          margin-top: get-vw(24px,375);
          margin-left: get-vw(15px,375);
          p{
            margin-top: get-vw(10px,375);
          }
          hr{
            display: block;
            width: get-vw(345px,375);
            height: get-vw(1px,375);
            background-color:#EFEFEF;
            margin-top: get-vw(60px,375);
          }
        }

      }
      .recometntcontrol{
        width: get-vw(375px,375 );
        height: get-vw(226px,375);
        background: #13AD54;
        border-radius: get-vw(0px, 375);
        margin-top: get-vw(0px,375);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-x: scroll;
        &::-webkit-scrollbar{
          display: none;
        }


      }
    }
  }
  .shipment{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(16px,375);
    line-height:get-vw( 19px,375);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #252223;
    margin-top: get-vw(60px,375);
    margin-left: get-vw(15px,375);

  }
  .popupbutton{
    width: get-vw(345px,375);
    height: get-vw(57px,375);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: get-vw(30px,375);
    margin-left: get-vw(15px,375);

  }
  .renderadressinput{
    width: get-vw(375px,375 );
    min-height: get-vw(192px,375);
    margin-top: get-vw(0px,375);
    hr{
      width: get-vw(345px,375);
      margin-left: get-vw(15px,375);
      border: 1px solid #EFEFEF;
      margin-top: get-vw(60px,375);
    }
  }
  .adresscityortoradress{
    width: get-vw(345px,375 );
    min-height: get-vw(436px,375);
  }
  .domandkey{
    width: get-vw(345px,375);
    height: get-vw(128px,375);
    display: flex;
    flex-direction: column;
    margin-left: get-vw(15px,375);
  }
  .peytitle{
   font-size:get-vw( 16px,375);
    line-height: get-vw(19px,375);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #252223;
    margin-left: get-vw(15px,375);
    margin-top: get-vw(60px,375);
   }
  .paymedodsbtn{
    width: get-vw(345px,375);
    height: get-vw(138px,375);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: get-vw(30px,375);
    margin-left: get-vw(15px,375);
  }
  .zdachi{
    width: get-vw(345px,375);
    height:get-vw( 64px,375);
    border: get-vw(1px,375) solid #DFDFDF;
    border-radius: get-vw(10px,375);
    margin-top: get-vw(30px,375);
    margin-left: get-vw(15px,375);
    display: flex;
    .zdachittitle1,zdachittitle2{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,375);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
      margin-top: get-vw(19px,375);
      margin-left: get-vw(15px,375);
    }
  }
  .adresstitle{
    display: none;
  }
  .adresselement{
    width: get-vw(345px,375);
    min-height: get-vw(200px,375) !important;
    display: flex;
    flex-direction: column;
    margin-left: get-vw(15px,375);

    .itermadresandicon{
      min-width: max-content;
      display: flex;
      margin-left: get-vw(0px,375)!important;
      margin-top: get-vw(30px,375);
      img{
        width: get-vw(24px,375);
        height: get-vw(24px,375);
      }
      p{
        font-size: get-vw(16px,375);
        line-height: get-vw(19px,375);
        margin-left: get-vw(0px,375);
        &:hover{
          color: #13AD54;
        }

      }
    }
  }
  .clokblok{
    width: get-vw(345px,375);
    height:get-vw( 64px,375);
    position: relative;
    z-index: 20;
  }
  .clock{
    width: get-vw(345px,375);
    height:get-vw( 64px,375);
    border: get-vw(1px,375) solid #DFDFDF;
    border-radius:get-vw( 10px,375);
    margin-top: get-vw(30px,375);
    margin-left:get-vw(15px,375) ;

    p{
      width: get-vw(290px,375);
     font-size: get-vw(16px,375);
      line-height: 160%;
      margin-left: get-vw(15px,375);
    }
    img{
      width: get-vw(11px,375);
      height: get-vw(15px,375);
    }
  }
  .clockselectwraper{
    width: get-vw(375px,375);
    height: 100vh;

  }
  .clockcloseWraper{
    width: get-vw(375px,375);
    height: 100vh;

  }
  .selectdate{
    width: get-vw(345px,375);
    height: get-vw(436px,375);
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(3, 142, 62, 0.2);
    border-radius: get-vw(10px,375);
    left: get-vw(15px,375);
    top: get-vw(69px,375);

  }
  .overfloscrol{
    width: get-vw(334px,375 );
    height: get-vw(386px, 375);
    margin-top: get-vw(25px,375 );
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 1px;

    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background:  #13AD54;
      border-radius: 10px;
      width: get-vw(69px,1920 );
    }
    &::-webkit-scrollbar-button {


    }
    p{
      font-size: get-vw(18px,375);
      line-height: get-vw(22px,375);
      margin-top: get-vw(20px,375);
      margin-left: get-vw(25px,375);
      cursor: pointer;
    }
  }


  .itonalItemcard{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(16px,375);
    line-height: get-vw(19px,375);
    letter-spacing: -0.04em;
    text-transform: uppercase;
     color: #FFFFFF;
    margin-left: get-vw(15px,375);
    margin-top: get-vw(15px,375);
  }
  .shiporder{
    width: get-vw(375px,375);
    height: get-vw(226px,375);
    margin-top: get-vw(15px,375);
    display: flex;
    flex-direction: unset;
    overflow: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
    .gic2{
      display: none;

    }
  }
  .checkbasket{
    width: get-vw(50px,375);
    height: get-vw(50px,375);
  }
  .statussok{

    font-size: get-vw(16px,375);
    line-height:get-vw( 19px,375);
   margin-top: get-vw(30px,375);

  }
  .twoselect{
    width: get-vw(375px,375);
    height: get-vw(158px,375);
    flex-direction: column;
    justify-content: flex-end;
    margin-top: get-vw(30px,375);
    .selectone,.selecttwo{
      width: get-vw(345px,375);
      height: get-vw(64px,375);
     position: relative;
      border-radius: get-vw(0px,375);
      border: get-vw(0px,375) solid #DFDFDF;
      border-bottom: get-vw(1px,375) solid #DFDFDF;
      cursor: pointer;
      margin-left: get-vw(15px,375);

      p{
        font-size: get-vw(16px,375);
        line-height: 160%;
        margin-top: get-vw(19px,375);
        margin-left: get-vw(0px,375);
      }
      img{
       display: none;
      }
    }
    .modalonecontaainer{
      width: get-vw(345px,375);
      height: get-vw(210px,375);
      border: get-vw(1px,375) solid #DFDFDF;
      border-radius: get-vw(10px,375);
      box-shadow: get-vw(1px,1920) get-vw(1px,1920) get-vw(5px,1920) rgba(3, 142, 62, 0.2);
      position: absolute;
      top: get-vw(64px,375);
      left: get-vw(0px,375);
      z-index: 15;
    }
  }


  .userADresesblok{
    width: get-vw(375px,375);
    min-height: get-vw(80px,375);

  }
  .selectuseradres{
    display: none;
  }
  .hradres{
    display: none;
  }
  .selecttimeerror{
     font-size: get-vw(12px,375)!important;
    line-height: get-vw(15px,375)!important;
    margin-top: get-vw(10px,375)!important;
    margin-left: get-vw(15px,375);

  }

}

