/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */

@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}

.success-checkmark {
  width: get-vw(50px,1920);
  height: get-vw(50px,1920);
  margin-top: get-vw(30px,1920);
  margin-left: get-vw(380px,1920);

  .check-icon {
    width: get-vw(80px,1920);
    height: get-vw(80px,1920);
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: get-vw(4px,1920) solid #4CAF50;

    &::before {
      top: get-vw(3px,1920);
      left: get-vw(-2px,1920);
      width: get-vw(30px,1920);
      transform-origin: 100% 50%;
      border-radius: get-vw(100px,1920) 0 0 get-vw(100px,1920);
    }

    &::after {
      top: 0;
      left: get-vw(30px,1920);
      width: get-vw(60px,1920);
      transform-origin: 0 50%;
      border-radius: 0 get-vw(100px,1920) get-vw(100px,1920) 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before, &::after {
      content: '';
      height: get-vw(100px,1920);
      position: absolute;
      background: #FFFFFF;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: get-vw(5px,1920);
      background-color: #4CAF50;
      display: block;
      border-radius: get-vw(2px,1920);
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: get-vw(46px,1920);
        left: get-vw(14px,1920);
        width: get-vw(25px,1920);
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: get-vw(38px,1920);
        right: get-vw(8px,1920);
        width: get-vw(47px,1920);
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: get-vw(-4px,1920);
      left: get-vw(-4px,1920);
      z-index: 10;
      width: get-vw(80px,1920);
      height: get-vw(80px,1920);
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, .5);
    }

    .icon-fix {
      top: get-vw(8px,1920);
      width: get-vw(5px,1920);
      left: get-vw(26px,1920);
      z-index: 1;
      height: get-vw(85px,1920);
      position: absolute;
      transform: rotate(-45deg);
      background-color: #FFFFFF;
    }
  }
}

@media screen and (max-width: 600px) {
  .success-checkmark {
    width: get-vw(50px, 375);
    height: get-vw(50px, 375);
    margin-top: get-vw(30px, 375);
    margin-left: get-vw(60px, 375);
  }
  }

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: get-vw(1px,1920);
    top:get-vw( 19px,1920);
  }
  54% {
    width: 0;
    left: get-vw(1px,1920);
    top: get-vw(19px,1920);
  }
  70% {
    width: get-vw(50px,1920);
    left: get-vw(-8px,1920);
    top: get-vw(37px,1920);
  }
  84% {
    width: get-vw(17px,1920);
    left: get-vw(21px,1920);
    top: get-vw(48px,1920);
  }
  100% {
    width: get-vw(25px,1920);
    left: get-vw(14px,1920);
    top: get-vw(45px,1920);
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: get-vw(46px,1920);
    top: get-vw(54px,1920);
  }
  65% {
    width: 0;
    right: get-vw(46px,1920);
    top: get-vw(54px,1920);
  }
  84% {
    width: get-vw(55px,1920);
    right: get-vw(0px,1920);
    top: get-vw(35px,1920);
  }
  100% {
    width: get-vw(47px,1920);
    right: get-vw(8px,1920);
    top: get-vw(38px,1920);
  }
}