@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.aboutcontainer{
   width: get-vw(1920px,1920);
   min-height: get-vw(486px,1920);
  background-color:#FFFFFF;

   .abouthdr{
     width: get-vw(1920px,1920);
     height: get-vw(548px,1920);
     background-color:  #EFEFEF;

     display: flex;
   }
}
.abouttitle{
  width: get-vw(660px,1920);
  height: get-vw(196px,1920);
  margin-left: get-vw(142px,1920);
  margin-top: get-vw(158px,1920);

  h1{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(80px,1920);
    line-height: get-vw(94px,1920);
    letter-spacing: -0.04em;
    text-transform: uppercase;
     color: #252223;
  }
  p{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(21px,1920);
    line-height: 170%;
    margin-top: get-vw(30px,1920);
    letter-spacing: -0.02em;
    color: #252223;
  }
}
.aboutteam{
  width: get-vw(1104px,1920);
  height: get-vw(505px,1920);
  margin-top: get-vw(45px,1920);
  background-image: url("../../images/team.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position:bottom;
}
.btnblok{
  width: get-vw(1920px,1920);
  height: get-vw(100px,1920);
  display: flex;

}
.btnmenuabout{
  width: get-vw(640px,1920);
  height: get-vw(100px,1920);
  background: #13AD54;
  box-shadow: inset -2px 0px 0px #FFFFFF;
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size:get-vw(24px,1920);
  line-height: get-vw(28px,1920);
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  &:hover{
    background: #EB2F2F;
    color: #FFFFFF;


  }
}
.aboutmenusow{
  width: get-vw(1732px,1920);
  min-height: get-vw(918px,1920);
  border: 1px solid red;
  margin-left: get-vw(92px,1920);
   .tnoren{
     width: get-vw(1636px,1920);
     min-height: get-vw(918px,1920);
      display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: get-vw(50px,1920);
     padding-bottom: get-vw(100px,1920);
     .itemabout{
       width: get-vw(718px,1920);
       height: get-vw(1067px,1920);
      margin-top: get-vw(100px,1920);
       display: flex;
       flex-direction: column;
       img{
         &:hover{
           cursor: pointer;
           transform: matrix(-1, 0, 0, 1, 0, 0);

         }

       }
       h4{
         font-family: Montserrat-Regular;
         font-style: normal;
         font-weight: normal;
         font-size:get-vw(32px,1920);
         line-height: 160%;
         letter-spacing: -0.02em;
         color: #252223;
         margin-top: get-vw(50px,1920);
       }
       h5{
         font-family: Montserrat-Regular;
         font-style: normal;
         font-weight: normal;
         font-size:get-vw( 16px,1920);
         line-height:get-vw( 20px,1920);
          letter-spacing: -0.02em;
          color: #BFB7B6;
         margin-top: get-vw(24px,1920);
       }
       p{
         font-family: Montserrat-Regular;
         font-style: normal;
         font-weight: normal;
         font-size:get-vw( 21px,1920);
         line-height: 160%;
         letter-spacing: -0.02em;
         color: #252223;
         margin-top: get-vw(50px,1920);
       }
     }
   }

}
.menejmentcontroler{
  width: get-vw(1732px,1920);
  min-height: get-vw(862px,1920);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: get-vw(100px,1920);
  .itemmenejment{
    width: get-vw(513px,1920);
    height: get-vw(662px,1920);
    display: flex;
    flex-direction: column;
   margin-left: get-vw(50px,1920);
    margin-top: get-vw(100px,1920);

      img{
        width: get-vw(512px,1920);
        height: get-vw(540px,1920);
        border-radius: get-vw(10px,1920);
        object-fit: contain;
        cursor: pointer;
        &:hover{
          transform: matrix(-1, 0, 0, 1, 0, 0);
        }
      }
    h4{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(22px,1920);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
      margin-top: get-vw(15px,1920);
    }
    h5{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,1920);
      line-height: get-vw(20px,1920);
      letter-spacing: -0.02em;
       color: #BFB7B6;
      margin-top: get-vw(8px,1920);
    }
    h6{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,1920);
      line-height: get-vw(20px,1920);
      letter-spacing: -0.02em;
      text-decoration-line: underline;
      color: #252223;
      margin-top: get-vw(24px,1920);
    }
  }
}