@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
  }



.searchInput{
    
    
    outline: none;
    background-color: #F9F9F9;
    border: none;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920 );
    line-height: 22px;
    color: #252223;
    letter-spacing: -0.02em;
    margin-left: get-vw(13px,1920 );
     width: get-vw(289px, 1920);
     border-radius: get-vw(20px,1920 );
     margin-top: get-vw(-2px,1920 );
    cursor:pointer;
    &::placeholder{
        font-family: Montserrat-Regular;
        color: #BFB7B6;;
    }
    
}

.promoinput{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(18px,1920);
    line-height:get-vw( 21px,1920);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    background: #F9F9F9;
    color: #252223;
    outline: none;
    border: transparent;
    width: get-vw(205px,1920 );
    padding: 0 get-vw(5px,1920 );
    margin-left: get-vw(15px,1920 );
    &::placeholder{

        color: #BFB7B6;
    }
}

@mixin inputglobalstyle {
    height: get-vw(75px,1920);
    background: #FFFFFF;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size:get-vw( 18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    padding: 0 get-vw(25px,1920);
    outline:none ;

    &::placeholder{
        color: #BFB7B6;
    }
}


.inputglobalinfo{
    width: get-vw(890px,1920);
    margin-top: get-vw(25px,1920);
   @include  inputglobalstyle;

}
.inputdom{
    width: get-vw(204px,1920);
    margin-top: get-vw(25px,1920);
    @include  inputglobalstyle;
}
.zdachi{
    width: get-vw(227px,1920);
    height: get-vw(72px,1920);
    background: #FFFFFF;
    outline: none;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
     letter-spacing: -0.02em;
    border:none;
    margin-left: get-vw(35px,1920);
   color: #252223;
    &::placeholder{
        color: #BFB7B6;
        font-family: Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: get-vw(18px,1920);
        line-height: get-vw(22px,1920);
        letter-spacing: -0.02em;
    }


}
.logininput{
    width: get-vw(628px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    outline: none;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    padding: 0 get-vw(25px,1920);
    margin-top: get-vw(25px,1920);

    &::placeholder{

        color: #BFB7B6;
    }
}
.zabilinput{
    width: get-vw(628px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    outline: none;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    padding: 0 get-vw(25px,1920);
    margin-top: get-vw(50px,1920);

    &::placeholder{

        color: #BFB7B6;
    }
}
.inputrgister{
    width: get-vw(628px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    outline: none;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    padding: 0 get-vw(25px,1920);
    margin-top: get-vw(25px,1920);

    &::placeholder{

        color: #BFB7B6;
    }
}
.inputuserinfo{
    width: get-vw(768px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    outline: none;
     border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    padding: 0 get-vw(25px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
     letter-spacing: -0.02em;
    color: #252223;
    margin-top: get-vw(25px,1920);
    &::placeholder{

        color: #BFB7B6;
    }
}
.inputuseraress{
    width: get-vw(768px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    outline: none;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    padding: 0 get-vw(25px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;

    &::placeholder{

        color: #BFB7B6;
    }
}
.inputbuildandaparamet{
    width: get-vw(204px,1920);
    height: get-vw(75px,1920);
    background: #FFFFFF;
    outline: none;
    border: get-vw(1px,1920) solid #DFDFDF;
    box-sizing: border-box;
    border-radius: get-vw(10px,1920);
    padding: 0 get-vw(25px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;

    &::placeholder{

        color: #BFB7B6;
    }
}
.jobinput{
    width: get-vw(890px,1920);
    @include  inputglobalstyle;
    margin-top: get-vw(25px,1920);
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
.inputfoodtruck{
    width: get-vw(891px,1920);
    margin-top: get-vw(40px,1920);
    @include  inputglobalstyle;
}
.inputfoodtruck2{
    width: get-vw(433px,1920);

    @include  inputglobalstyle;
}
.inputfoodtruck3{
    width: get-vw(891px,1920);
    margin-top: get-vw(25px,1920);
    @include  inputglobalstyle;
}
.inputfoodtruck4{
    width: get-vw(891px,1920);
    margin-top: get-vw(50px,1920);
    @include  inputglobalstyle;
}


@media screen and (max-width: 500px){
    .logininput{
        width: get-vw(345px,375);
        height: get-vw(64px,375);
        outline: none;
        border: none;
        border-bottom: get-vw(1px,375) solid  #DFDFDF;
        border-radius: get-vw(0px,375);
        font-size: get-vw(16px,375);
        line-height: 160%;
        padding: 0 get-vw(0px,375);
        margin-top: get-vw(1px,375);

    }
    .zabilinput{
        width: get-vw(345px,375);
        height: get-vw(64px,375);
        outline: none;
        border: none;
        border-bottom: get-vw(1px,375) solid  #DFDFDF;
        border-radius: get-vw(0px,375);
        font-size: get-vw(16px,375);
        line-height: 160%;
        padding: 0 get-vw(0px,375);
        margin-top: get-vw(40px,375);

    }
    .inputrgister{
        width: get-vw(345px,375);
        height: get-vw(64px,375);
        outline: none;
        border: none;
        border-bottom: get-vw(1px,375) solid  #DFDFDF;
        border-radius: get-vw(0px,375);
        font-size: get-vw(16px,375);
        line-height: 160%;
        padding: 0 get-vw(0px,375);
        margin-top: get-vw(0px,375);

        &::placeholder{

            color: #BFB7B6;
        }
    }
}

