@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.socbigcontainer{
  width: get-vw(1920px,1920);
  min-height: get-vw(389px,1920);
  background-color: #ffffff;
  .contactContainer {
    width: get-vw(1636px,1920);
    min-height: get-vw(389px,1920);
    margin-left: get-vw(142px,1920);
    background-color: #ffffff;
    .contacthdr{
      width: get-vw(1636px,1920);
      min-height: get-vw(389px,1920);
      padding-top: get-vw(195px,1920);
      h1{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size: get-vw(80px,1920);
        line-height: get-vw(94px,1920);
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #252223;

      }
    }
  }
}

.socseti{
   width: get-vw(1636px,1920);
   height: get-vw(378px,1920);

  .miaceqmez{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(24px,1920);
    line-height: get-vw(28px,1920);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #252223;
  }
  .socitem{
    width: get-vw(1636px,1920);
    height: get-vw(200px,1920);
    margin-top: get-vw(50px,1920);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .fb,.trip,.insta,.youtube{
      width: get-vw(371px,1920);
      height: get-vw(200px,1920);
      background: #FFFFFF;
      box-shadow: 1px 1px 5px rgba(189, 189, 189, 0.25);
      border-radius: get-vw(10px,1920);
      cursor: pointer;
    }
  }
}
.fb{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
  .fbbg{
    width: get-vw(419px,1920);
    height: get-vw(419px,1920);
     border-radius: get-vw(70px,1920);
     overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    background: linear-gradient(180deg, #18ABFE 0%, #0162E0 100%) !important;


  }

  svg {
    width: get-vw(50px,1920);
    height: get-vw(50px,1920);
     position: absolute;
     //top: get-vw(75px,1920);
     //left: get-vw(161px,1920);
     fill: white;
     transition: all 10s ease !important;
     display: inline-block;    
     -webkit-transition: fill 10s ease !important;
     -moz-transition: fill .4s ease;
     -o-transition: fill .4s ease;
      transition: fill 10s ease;  
      z-index: 30;
 }

 
 
 
}

.fb:hover{
  div{
    border-radius: get-vw(70px, 1920);
    transform: scale(0.0001);
    overflow: hidden!important;

  }
  svg {
    transition: all 2s ease-out !important;
    fill: url("#linear-gradient");
 }
}




.insta{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
  .instabg{
    width: get-vw(419px,1920);
    height: get-vw(419px,1920);
    border-radius: get-vw(70px,1920);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
   background:  linear-gradient(106.99deg, #405DE6 -22.57%, #5851D8 -15.09%, #833AB4 -3.45%, #C13584 14.27%, #E1306C 30.62%, #F56040 86.23%, #F77737 97.52%, #FCAF45 114.5%, #FFDC80 124.19%) !important;

  }
  svg {
    width: get-vw(50px,1920);
    height: get-vw(50px,1920);
    position: absolute;
     fill: white;
    transition: all 10s ease !important;
    display: inline-block;
    -webkit-transition: fill 10s ease !important;
    -moz-transition: fill .4s ease;
    -o-transition: fill .4s ease;
    transition: fill 10s ease;
    z-index: 30;
  }
}
.insta:hover{
  div{
    border-radius: get-vw(70px, 1920);
    transform: scale(0.0001);
    overflow: hidden!important;

  }
  svg {
    transition: all 2s ease-out !important;
    fill: url("#gradentinsta");
  }
}
.trip{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
  .tripbg{
    width: get-vw(419px,1920);
    height: get-vw(419px,1920);
    border-radius: get-vw(70px,1920);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    background:#34E0A1 ;
  }
  svg {
    width: get-vw(50px,1920);
    height: get-vw(50px,1920);
    position: absolute;
    fill: white;
    transition: all 0.4s ease !important;
    display: inline-block;
    -webkit-transition: fill0.4s ease !important;
    -moz-transition: fill .4s ease;
    -o-transition: fill .4s ease;
    transition: fill 0.4s ease;
    z-index: 30;
  }
}
.trip:hover{
  div{
    border-radius: get-vw(70px, 1920);
    transform: scale(0.0001);
    overflow: hidden!important;

  }
  svg {

    fill: #34E0A1;
  }
}
.youtube{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
  .youtubebg{
    width: get-vw(419px,1920);
    height: get-vw(419px,1920);
    border-radius: get-vw(70px,1920);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    position: relative;
    background: #FF0000;
  }
  svg {
    width: get-vw(50px,1920);
    height: get-vw(50px,1920);
    position: absolute;
    fill: white;
    transition: all 0.4s ease !important;
    display: inline-block;
    -webkit-transition: fill0.4s ease !important;
    -moz-transition: fill .4s ease;
    -o-transition: fill .4s ease;
    transition: fill 0.4s ease;
    z-index: 30;
  }
}

.youtube:hover{
  div{
    border-radius: get-vw(70px, 1920);
    transform: scale(0.0001);
    overflow: hidden!important;

  }
  svg {

    fill: #FF0000;
  }
}



.contacts{
  width: get-vw(1636px,1920);
  height: get-vw(449px,1920);

  .titlecont{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(24px,1920);
    line-height: get-vw(28px,1920);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #252223;
  }
  .contactis{
    width: get-vw(1636px,1920);
    min-height: get-vw(267px,1920);
    display: flex;
    flex-wrap: wrap;
    
    margin-top: get-vw(50px,1920);
  }
}
.itemcontact1{
  width: get-vw(412px,1920);
  height: get-vw(67px,1920);
 


  h4{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(16px,1920);
    line-height: get-vw(20px,1920);
    letter-spacing: -0.02em;
    color: #BFB7B6;
  }
  p{
    width: get-vw(230px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(22px,1920);
    line-height: get-vw(27px,1920);
      letter-spacing: -0.02em;
      color: #252223;
    margin-top: get-vw(20px,1920);
     overflow: hidden;
  }
}
.itemcont2{
    width: get-vw(1024px,1920);
   height: get-vw(67px,1920);
   display: flex;
  margin-top: get-vw(50px,1920);
  justify-content: space-between;
}
.masnajuxerinfo{
    width: get-vw(1920px,1920);
    min-height: get-vw(662px,1920);
    background: #F9F9F9;
}
.itemcontainer{
  width: get-vw(1636px,1920);
  min-height: get-vw(662px,1920);
  background: #F9F9F9;
  margin-left: get-vw(142px,1920);
  padding-top: get-vw(100px,1920);
  .titlemasnajux{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(24px,1920);
    line-height: get-vw(28px,1920);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #252223;
    //margin-top: get-vw(100px,1920);
  }
}
.itemadresesblok{
  width: get-vw(1636px,1920);
  min-height: get-vw(484px,1920);
  display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: get-vw(50px,1920);
  .itemadressinfo{
    width: get-vw(412px,1920);
    min-height: get-vw(484px,1920);

    display: flex;
    flex-direction: column;
  }
}
.titleitmadres{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(22px,1920);
  line-height: get-vw(27px,1920);
  letter-spacing: -0.02em;
  color: #13AD54;
}
.line{
  width: get-vw(412px,1920);
  height: get-vw(1px,1920);
  background: #BFB7B6;
  margin-top: get-vw(15px,1920);
}

.text_blok{
  width: get-vw(412px,1920);
  height: get-vw(66px,19820);
  display: flex;
  justify-content: space-between;
  margin-top: get-vw(30px,1920);
  .text_top{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(16px,1920);
    line-height: get-vw(20px,1920);
    letter-spacing: -0.02em;
    color: #BFB7B6;
  }
  .text_bottom{
    width: get-vw(306px,1920);
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(22px,1920);
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #252223;
  }
}
.datejob{
   width: get-vw(234px,1920);
   height: get-vw(27px,1920);
   margin-top: get-vw(70px,1920);
  display: flex;

  .datatitle{
    min-width: max-content;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(16px,1920);
    line-height: get-vw(20px,1920);
    letter-spacing: -0.02em;
    color: #BFB7B6;
  }
  .dates{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(22px,1920);
    line-height: get-vw(27px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    min-width: max-content;
    margin-left: get-vw(20px,1920);
  }
}
.phone_number{
  width: get-vw(282px,1920);
  min-height: get-vw(119px,1920);
  display: flex;
  .phone_title{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(16px,1920);
    line-height: get-vw(20px,1920);
    letter-spacing: -0.02em;
     color: #BFB7B6;
    margin-top: get-vw(32px,1920);
  }
  .itemphone{
    width: get-vw(176px,1920);
    min-height: get-vw(119px,1920);
    display: flex;
    flex-direction: column;
    margin-left: get-vw(64px,1920);
    margin-top: get-vw(15px,1920);
  }
  .phonegroup{
    min-width: max-content;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(22px,1920);
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #252223;
    margin-top: get-vw(10px,1920);

  }
}


@media screen  and (max-width: 500px){
  .socbigcontainer{
    width: get-vw(375px,375);
    min-height: get-vw(151px,375);

    .contactContainer {
      width: get-vw(345px,375);
      min-height: get-vw(151px,375);
      margin-left: get-vw(15px,375);

      .contacthdr{
        width: get-vw(345px,375);
        min-height: get-vw(151px,375);
        padding-top: get-vw(60px,375);
        h1{
         font-size: get-vw(26px,375);
          line-height: 120%;


        }
      }
    }
  }

  .socseti{
    width: get-vw(345px,375);
    min-height: get-vw(670px,375);

    .miaceqmez{

      font-size: get-vw(16px,375);
      line-height: get-vw(19px,375);

    }
    .socitem{
      width: get-vw(345px,375);
      min-height: get-vw(670px,375);
      margin-top: get-vw(20px,375);
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .fb,.trip,.insta,.youtube{
        width: get-vw(345px,375);
        height: get-vw(140px,375);
        border-radius: get-vw(10px,375);

      }
    }
  }
  .fb{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
    .fbbg{
      width: get-vw(419px,375);
      height: get-vw(419px,375);
      border-radius: get-vw(70px,375);
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      position: relative;
      background: linear-gradient(180deg, #18ABFE 0%, #0162E0 100%) !important;


    }

    svg {
      width: get-vw(50px,375);
      height: get-vw(50px,375);

    }




  }

  .fb:hover{
    div{
      border-radius: get-vw(70px, 375);
    }

  }




  .insta{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
    .instabg{
      width: get-vw(419px,375);
      height: get-vw(419px,375);
      border-radius: get-vw(70px,375);
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      position: relative;
      background:  linear-gradient(106.99deg, #405DE6 -22.57%, #5851D8 -15.09%, #833AB4 -3.45%, #C13584 14.27%, #E1306C 30.62%, #F56040 86.23%, #F77737 97.52%, #FCAF45 114.5%, #FFDC80 124.19%) !important;

    }
    svg {
      width: get-vw(50px,375);
      height: get-vw(50px,375);

    }
  }
  .insta:hover{
    div{
      border-radius: get-vw(70px, 375);
    }

  }
  .trip{

    .tripbg{
      width: get-vw(419px,375);
      height: get-vw(419px,375);
      border-radius: get-vw(70px,375);

    }
    svg {
      width: get-vw(50px,375);
      height: get-vw(50px,375);

    }
  }
  .trip:hover{
    div{
      border-radius: get-vw(70px, 375);
    }

  }
  .youtube{
   .youtubebg{
      width: get-vw(419px,375);
      height: get-vw(419px,375);
      border-radius: get-vw(70px,375);

    }
    svg {
      width: get-vw(50px,375);
      height: get-vw(50px,375);

    }
  }

  .youtube:hover{
    div{
      border-radius: get-vw(70px, 375);
    }

  }



  .contacts{
    width: get-vw(375px,375);
    min-height: get-vw(510px,375);
    margin-top: get-vw(100px,375);
    .titlecont{
     font-size: get-vw(16px,375);
      line-height: get-vw(19px,375)
    }
    .contactis{
      width: get-vw(183px,375);
      min-height: get-vw(87px,375);

      display: flex;
      flex-direction: column;

      //margin-top: get-vw(30px,375);
    }
  }
  .itemcontact1{
    width: get-vw(168px,375);
    height: get-vw(55px,375);
    margin-top:get-vw(30px,375) ;

    h4{

      font-size: get-vw(13px,375);
      line-height: 160%;

    }
    p{
      width: get-vw(375px,375);
      font-size: get-vw(16px,375);
      line-height: 160%;
      margin-top: get-vw(8px,375);

    }
  }
  .itemcont2{
    width: get-vw(375px,375);
    min-height: get-vw(55px,375);
    display: flex;
    flex-direction: column;
    margin-top: get-vw(0px,375);
    justify-content: space-between;
  }
  .masnajuxerinfo{
    width: get-vw(375px,375);
    min-height: get-vw(2062px,375);

  }
  .itemcontainer{
    width: get-vw(345px,375);
    min-height: get-vw(2062px,375);
    margin-left: get-vw(15px,375);
    padding-top: get-vw(60px,375);
    .titlemasnajux{
     font-size: get-vw(16px,375);
      line-height: get-vw(19px,375);

      //margin-top: get-vw(100px,1920);
    }
  }
  .itemadresesblok{
    width: get-vw(345px,375);
    min-height: get-vw(251px,375);
    display: flex;
   flex-direction: column;
    justify-content: space-between;
    padding-bottom: get-vw(60px,375);
    .itemadressinfo{
      width: get-vw(412px,1920);
      min-height: get-vw(484px,1920);
      margin-top: get-vw(40px,375);
      display: flex;
      flex-direction: column;
    }
  }
  .titleitmadres{
    min-width: max-content;
    font-size: get-vw(16px,375);
    line-height: 160%;

  }
  .line{
    width: get-vw(345px,375);
    height: get-vw(1px,375);
    margin-top: get-vw(8px,375);
  }

  .text_blok{
    width: get-vw(345px,375);
    height: get-vw(52px,375);
    display: flex;
    justify-content: space-between;
    margin-top: get-vw(24px,375);
    .text_top{
      width: get-vw(92px,375);
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(13px,375);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #BFB7B6;
    }
    .text_bottom{
      width: get-vw(231px,375);
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,375);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
    }
  }
  .datejob{
    width: get-vw(345px,375);
    height: get-vw(26px,375);
    margin-top: get-vw(18px,375);
    display: flex;

    .datatitle{
      font-size: get-vw(13px,375);
      line-height: 160%;

    }
    .dates{
      font-size: get-vw(16px,375);
      line-height: 160%;

      margin-left: get-vw(47px,375);
    }
  }
  .phone_number{
    width: get-vw(345px,375);
    min-height: get-vw(52px,375);
    display: flex;
    .phone_title{
     font-size: get-vw(13px,375);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #BFB7B6;
      margin-top: get-vw(23px,375);
    }
    .itemphone{
      width: get-vw(123px,375);
      min-height: get-vw(52px,375);
      display: flex;
      flex-direction: column;
      margin-left: get-vw(86px,375);
      margin-top: get-vw(15px,375);
    }
    .phonegroup{
      min-width:max-content;
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,375);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
      margin-top: get-vw(10px,375);

    }
  }




}
