
@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}



.foodcontainer{
  width: get-vw(1920px,1920);
  min-height: get-vw(648px,1920);
  background: #ffffff;
  .foodhdr{
    width: get-vw(1920px,1920);
    height: get-vw(548px,1920);
    background-image: url("../../images/product/foodtruckhdr.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: get-vw(227px,1920);
    h1{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(80px,1920);
      line-height: get-vw(94px,1920);
       text-align: center;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #FFFFFF;

    }
  }
  .btnfoodmenu{
    width: get-vw(1920px,1920);
    height: get-vw(100px,1920);
    display: flex;
    .btnfood{
      width: get-vw(640px,1920);
      height: get-vw(100px,1920);
      background: #13AD54;
      box-shadow: inset -2px 0px 0px #FFFFFF;
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size:get-vw(24px,1920);
      line-height: get-vw(28px,1920);
      text-align: center;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
      &:hover{
        background: #EB2F2F;
        color: #FFFFFF;
        

      }
    }
  }
}
.foodcontainer2{
  width: get-vw(1636px,1920);
  min-height: get-vw(703px,1920);
  margin-left: get-vw(102px,1920);
  margin-top: get-vw(20px,1920);
  position: relative;
}


@media screen and (max-width: 600px) {
  .foodcontainer{
    width: get-vw(375px,375);
    min-height: get-vw(375px,375);

    .foodhdr{
      width: get-vw(375px,375);
      height: get-vw(308px,375);
      background-size: get-vw(375px,375) get-vw(308px,375);

      padding-top: get-vw(133px,375);
      h1{
        font-size: get-vw(34px,375);
        line-height: 120%;


      }
    }
    .btnfoodmenu{
      width: get-vw(375px,375);
      height: get-vw(67px,375);
      display: flex;
      overflow: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar{
        display: none;
      }
      .btnfood{
        min-width: max-content;
        height: get-vw(67px,375);
        background: #13AD54;
        box-shadow: inset -2px 0px 0px #FFFFFF;
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: 500;
        font-size:get-vw(16px,375);
        line-height: get-vw(19px,375);
        text-align: center;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        padding: 0 get-vw(24px,375);
        cursor: pointer;
        &:hover{
          background: #EB2F2F;
          color: #FFFFFF;


        }
      }
    }
  }
  .foodcontainer2{
    width: get-vw(1636px,1920);
    min-height: get-vw(703px,1920);
    margin-left: get-vw(102px,1920);
    margin-top: get-vw(20px,1920);
    position: relative;
  }
}
