@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}



.oredersitem{
  width: get-vw(379px,1920);
  min-height: get-vw(311px,1920);

  margin-left: get-vw(40px,1920);
  margin-top: get-vw(63px,1920);
  position: relative;
}
.imagessmoll{
  width: get-vw(343px,1920);
  min-height: get-vw(71px,1920);
  display: flex;
  flex-wrap: wrap;
}
.orderimgdiv{
  width: get-vw(80px,1920);
  height: get-vw(71px,1920);
  margin-top: get-vw(17px,1920);

  position: relative;
  .imgitem{
    width: get-vw(80px,1920);
    height: get-vw(71px,1920);
    object-fit: contain;
  }
  .countitemx{
    width: get-vw(32px,1920);
    height:get-vw( 32px,1920);
    background: #13AD54;
   border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: get-vw(70px,1920);
    position: absolute;
    top: 0;
    left: get-vw(51px,1920);
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(16px,1920);
      line-height: 150%;
      letter-spacing: -0.02em;
       color: #FFFFFF;
    }
  }
}
.btnanime{
  width: get-vw(50px,1920);
  height: get-vw(50px,1920);
  background: #EFEFEF;
  border-radius: get-vw(70px,1920);
  position: absolute;
  top: get-vw(15px,1920);
  left: get-vw(330px,1920);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  p{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
     color: #BFB7B6;

  }
}
.priceandaddcardblok{
  width: get-vw(379px,1920);
  height: get-vw(80px,1920);
  background: #13AD54;
  border-radius: get-vw(10px,1920);
  margin-top: get-vw(22px,1920);
  padding: get-vw(20px,1920) 0;
  display: flex;
  justify-content: space-between;
  p{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(34px,1920);
    line-height:get-vw( 40px,1920);
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: get-vw(20px,1920);
  }
  img{
    width: get-vw(50px,1920);
    height: get-vw(50px,1920);
    margin-right: get-vw(15px,1920);
    cursor: pointer;
    &:hover{
      filter: invert(40%) sepia(7%) saturate(203%) hue-rotate(319deg) brightness(91%) contrast(76%);
      box-sizing: border-box;
    }
  }
}
.dastacupit{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(18px,1920);
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #BFB7B6;
  margin-top: get-vw(34px,1920);
}
.descriptionorder{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: get-vw(18px,1920);
  line-height: 150%;
 letter-spacing: -0.02em;
  color: #252223;
  margin-top: get-vw(20px,1920);
}
@media screen and (max-width: 500px){

  .oredersitem{
    width: get-vw(345px,375);
    min-height: get-vw(182px,375);
    margin-left: get-vw(0px,375);
    margin-top: get-vw(60px,375);
    padding-bottom: get-vw(60px,375);
    position: relative;
  }
  .imagessmoll{
    width: get-vw(230px,375);
    min-height: get-vw(50px,375);
    display: flex;
    flex-wrap: wrap;
  }
  .orderimgdiv{
    width: get-vw(50px,375);
    height: get-vw(50px,375);
    margin-top: get-vw(24px,375);

    position: relative;
    .imgitem{
      width: get-vw(50px,375);
      height: get-vw(50px,375);
      object-fit: contain;
    }
    .countitemx{
      width: get-vw(22px,375);
      height:get-vw( 22px,375);
      border: get-vw(1px,375) solid #FFFFFF;
      border-radius: get-vw(70px,375);
      position: absolute;
      top: 0;
      left: get-vw(30px,375);
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        font-family: Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: get-vw(12px,375);
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }
    }
  }
  .btnanime{
    width: get-vw(30px,375);
    height: get-vw(30px,375);
    background: #EFEFEF;
    border-radius: get-vw(70px,375);
    position: absolute;
    top: get-vw(25px,375);
    left: get-vw(215px,375);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    p{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(14px,375);
      line-height: 150%;
      text-align: center;
      letter-spacing: -0.02em;
      color: #BFB7B6;

    }
  }
  .priceandaddcardblok{
    width: get-vw(345px,375);
    height: get-vw(42px,375);
    border-radius: get-vw( 6.25px,375);
    margin-top: get-vw(24px,375);
    padding: get-vw(20px,375) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: get-vw(16px,375);
      line-height:get-vw( 19px,375);
      margin-left: get-vw(15px,375);
      margin-top: 0;
    }
    img{
      width: get-vw(32px,375);
      height: get-vw(32px,375);
      margin-right: get-vw(15px,375);

    }
  }
  .dastacupit{
    position: absolute;
    top: get-vw(19px,375);
    left: get-vw(283px,375);
    font-size: get-vw(14px,375);
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #BFB7B6;

  }
  .descriptionorder{
    font-size: get-vw(14px,375);
    line-height: 150%;
    margin-top: get-vw(24px,375);
  }
}
