@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
  }


.checkproduct[type=checkbox] + label {
  display: block;
  margin-left: get-vw(20px,1920);
  cursor: pointer;
  display: flex;
  align-items: center;


}

input[type=checkbox] {
  display: none;
}

.ckekckdiv {
  width: get-vw(27px, 1920);
  height: get-vw(27px, 1920);
  background: #F9F9F9;
  background-size: get-vw(20px, 1920) get-vw(15px, 1920);
  background-repeat: no-repeat;
  background-position: center;
  /* Gray */
  border: 1px solid #BFB7B6;
  box-sizing: border-box;
  border-radius: get-vw(5px, 1920);
}
.container{
  display: flex;
  align-items: center;
  position: relative;
  margin-top: get-vw(15px,1920 );
  p{
    width: max-content;
    display: inline-block;
    font-family: Montserrat-Regular;

  }
}
.price{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size:get-vw(18px,1920);
  line-height: 150%;
  margin-left: 0 !important;
  text-transform: none!important;
  letter-spacing: -0.02em;
  color: #000000;
  position: absolute;
  right: 1.59vw;
}
.textstyle{
  font-family: Montserrat-Regular;
  font-style: normal;
  font-weight: normal;
  font-size:get-vw(18px,1920);
  line-height: 150%;
  margin-left: get-vw(15px,1920 ) !important;

  min-width: unset;
  text-transform: none!important;
  letter-spacing: -0.02em;
  color: #000000;
}
.dram{
  position: absolute;
  right: get-vw(48px,1920);
}


@media screen and(max-width: 500px){
  .checkproduct[type=checkbox] + label {
    display: block;
    margin-left: get-vw(0px,375);
    cursor: pointer;
    display: flex;
    align-items: center;


  }

  input[type=checkbox] {
    display: none;
  }

  .ckekckdiv {
    min-width:get-vw(16px, 375)!important; ;
    width: get-vw(16px, 375)!important;
    height: get-vw(16px, 375);
    background-size: get-vw(12px, 375) get-vw(9px, 375);
    background-repeat: no-repeat;
    background-position: right;
    /* Gray */
    border: get-vw(1px,375) solid #BFB7B6;
    box-sizing: border-box;
    border-radius: get-vw(3px, 375);
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: get-vw(15px,375 );
    p{
      width: unset;
      display: inline-block;
      font-family: Montserrat-Regular;

    }
  }
  .price{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size:get-vw(18px,1920);
    line-height: 150%;
    margin-left: 0 !important;
    text-transform: none!important;
    letter-spacing: -0.02em;
    color: #000000;
    position: absolute;
    right: 1.59vw;
  }
  .textstyle{
    width: unset;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size:get-vw(13px,375);
    line-height: 160%;
    margin-left: get-vw(15px,375 ) !important;
    text-transform: none!important;
    letter-spacing: -0.02em;
    color: #000000;
  }
  .dram{
    position: absolute;
    right: get-vw(48px,1920);
  }

}