@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;

}
.swiper-pagination-bullet-active {
  background-color: #13AD54!important;

}
.swiper-pagination-bullet{
  width: get-vw(19px,1920 );
  height: get-vw(19px,1920 );
  background-color: white ;
  opacity: unset !important;
  &-active{
    width: get-vw(13px,1920 );
    height:get-vw(13px,1920 );
  }
}
.swiper-pagination-bullet:hover{
  border: 1px solid #13AD54;
}
.swiper-pagination{
 display: flex;
 justify-content: center;
 align-items: center;
}
.swiper {
  /* margin-left: auto;
  margin-right: auto; */
  transition: 2s ease !important;
}
.swiper {
  width: get-vw(1920px,1920 );;
  height: get-vw(800px,1920 );
}


.swiper-slide {
 text-align: center;
  font-size: 18px;
  background: #fff;
  transition: 1s  !important;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: get-vw(1920px,1920 );
  height: get-vw(1920px,1920 );
  object-fit: cover;
  transition: 2s  !important;

}
.slideritem{
  width: get-vw(1920px,1920 );;
  min-height: get-vw(800px, 1920);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
   position: relative;


}
h5{
  position: absolute;
  font-family:Mardoto-Medium;
  font-style: normal;
  font-weight:500;
  font-size: get-vw(80px,1920 );
  line-height:get-vw( 94px, 1920);
  color: #FFFFFF;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  top: get-vw(298px, 1920);
  left: get-vw(142px, 1920);

}
.slideritem button{
  position: absolute;
  width: get-vw(160px,1920 );
  height:get-vw(60px, 1920);
  background: #13AD54;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  z-index: 50;
  font-family: Mardoto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: get-vw(18px,1920);
  line-height: get-vw(21px, 1920);
  top: get-vw(461px,1920 );
  left:get-vw(142px,1920 );
  color: #FFFFFF;;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  a{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(18px,1920);
    line-height: get-vw(21px, 1920);
    font-family: Mardoto-Medium;
  }


}
.slideritem button:hover{
   background-color:#EB2F2F ;
}







@media  screen and (max-width:500px){

  .swiper-pagination-bullet{
    width: get-vw(13px,375 )!important;
    height: get-vw(13px,375 )!important;
    background-color: white ;
    opacity: unset !important;
    &-active{
      width: get-vw(8px,375 ) !important;
      height:get-vw(8px,375 )!important;
    }


  }
  .swiper-pagination-bullet:hover{
    border: 1px solid #13AD54;
  }
  .swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper {
    transition: 2s ease !important;
  }
  .swiper {
    width: get-vw(375px,375 );
    height: get-vw(308px,375 );
  }


  .swiper-slide {

    background: #fff;
    transition: 1s  !important;
   /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slideritem{
    width: get-vw(375px,375 );
    min-height: get-vw(308px, 415);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;


  }
  h5{
    width: get-vw(220px,375);
    height: get-vw(82px,375);
    position: absolute;
    font-family:Mardoto-Medium;
    font-style: normal;
    font-weight:500;
    font-size: get-vw(34px,375 );
    line-height: 120%;
    color: #FFFFFF;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    top: get-vw(60px, 375);
    left: get-vw(15px, 375);
    text-align: left;


  }
  .slideritem button{
    position: absolute;
    width: get-vw(161px,375);
    height: get-vw(57px,375);
    left: get-vw(15px,375);
    top: get-vw(166px,375);
    background: #13AD54;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    z-index: 50;
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(16px,375);
    line-height: get-vw(19px, 375);

    color: #FFFFFF;;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

  a{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(16px,375);
    line-height: get-vw(19px, 375);
    color: #FFFFFF;
  }
  }
}

