@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}


.likehdr{
  width: get-vw(1772px,1920);
  min-height: get-vw(400px,1920);
  display: flex;
  flex-wrap: wrap;

}
@media screen and (max-width: 600px) {
  .likehdr{
    width: get-vw(375px,375);
    min-height: get-vw(464px,375);
    padding-bottom: get-vw(60px,375);
    display: flex;
    flex-wrap: wrap;

  }
}