@function get-vw($size, $width){
    $vw-context: $width * 0.01 * 1px;
    @return $size / $vw-context * 1vw;
    @return $size;
  }

.home{
    width:get-vw(1920px,1920 );
    min-height:get-vw(1920px,1920);
    z-index: 5;
    position: relative;
    background: #FFFFFF;
    

}
.blsckhd{
    width: get-vw(1920px,1920 );
    height: get-vw(60px,1920 );
    background-color: #252223;
}
.slider{
    width: get-vw(1920px,1920 ) ;
    min-height:get-vw(762px,1920 );

}
.reclams{
    min-width: get-vw(1636px,1920 );
    min-height:get-vw(315px,1920 );
    display: flex;
    align-items: flex-end;
    margin-left: get-vw(102px,1920 );
    .wraperreclam{
        min-width: get-vw(798px, 1920);
        min-height: get-vw(235px,1920 );
        overflow: hidden;
        position: relative;
        border-radius: get-vw(10px, 1920);
        cursor: pointer;
        margin-left: get-vw(40px,1920 );
        position: relative;
        .rectitle, .rectitle2{
            font-family: Mardoto-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: get-vw(30px,1920 );
            line-height: get-vw(40px,1920);
            text-align: center;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
            position: absolute;
            top: get-vw(100px,1920);
            left: get-vw(300px,1920);

        }
        .itemreclam{
            width: get-vw(798px, 1920);
            height: get-vw(235px,1920 );
            border-radius: get-vw(10px, 1920);
            object-fit: cover;
            background-repeat: no-repeat;
            background-size: cover;
            transition: transform 0.5s ease;

            &:hover{
                border-radius: get-vw(10px, 1920);
               transform: scale(1.1);
               overflow: hidden!important;

            }

        }
    }
    
}

                                       // menu




.menu{
    width: get-vw(1676px,1920 );
    min-height: get-vw(379px,1920 );
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: get-vw(102px,1920 );
    margin-top: get-vw(40px,1920 );
    background: #FFFFFF;
    .menuitem{
        width: get-vw(378px,1920 );
        min-height:  get-vw(378px,1920 );
        border-radius: get-vw(10px,1920 );
        background-image: url("../../images/bgmenu.png");
        margin-left: get-vw(40px,1920 );
        margin-top: get-vw(40px,1920 );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:  #EFEFEF;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
         img{
             filter: grayscale(100%) !important;
         }

        }
         p{
            width: max-content;
            font-family: Mardoto-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: get-vw(34px,1920 );
            line-height: get-vw(40px, 1920);
             letter-spacing: -0.04em;
            text-transform: uppercase;
             color: #252223;
             margin-top: get-vw(50px, 1920);
             margin-left: get-vw(35px,1920 );
        }
        img{
            width: get-vw(306px, 1920);
            height: get-vw(198px,1920 );
            top: 120px;
            margin: 0 auto;



        }

    }

}


//    reclam 2

.mobileversinsld2{
    display: none;
}

.rec2{
    width: get-vw(1920px,1920 );
    min-height: get-vw(685px,1920 );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:get-vw(100px,1920 );

    .itemreclam2{
        width: get-vw(960px,1920 );
        min-height: get-vw(685px,1920 );
        object-fit: cover;
        img{
            width:get-vw(960px,1920 );
            min-height: get-vw(685px,1920 );
            cursor: pointer;
            


        }
    }
}
.aboutblock{
    width: get-vw(1920px,1920 );
    min-height: get-vw(581px,1920 );
    display: flex;
    justify-content: center;
   
    
    .aboutglobal{
        width: get-vw(960px,1920);
        min-height: get-vw(581px,1920 );
       

        h1{
            width: get-vw(266px,960);
            font-family: Mardoto-Medium;
            font-style: normal;
            font-weight: 500;
            font-size: get-vw(48px, 1920);
            line-height: get-vw(56px, 1920);
            letter-spacing: -0.04em;
            text-transform: uppercase;
             color: #252223;
            margin-left: get-vw(142px,1920 );
            margin-top: get-vw(100px,1920);

        }
        .aboutp{
            width: get-vw(693px,1920);
            min-height: get-vw(170px,1920);
            font-family: Montserrat-Regular;
            font-style: normal;
            font-weight: normal;
            font-size: get-vw(21px, 1920);
            line-height: 160%;
            letter-spacing: -0.02em;
            color: #252223;
            margin-top: get-vw( 50px,1920);
            margin-left: get-vw(142px,1920 );
        }
        .step{
            width: get-vw(728px,1920 );
            height: get-vw(41px,1920 );
            margin-left: get-vw(172px,1920 );
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: get-vw(70px,1920 );


            .itemstop{
                min-width: max-content;
                position: relative;
                div{
                    width: get-vw(46px,1920 );
                    height:get-vw(46px,1920 );
                    background: #13AD54;
                    position: absolute;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: get-vw(-34px, 1920);
                    bottom: get-vw(11px,1920 );
                    right: 0;
                    z-index: 0;


}
                .circlenumber{
                    font-family: Mardoto-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: get-vw(18px,1920 );
                    line-height: get-vw(21px,1920 );

                    /* identical to box height */
                    text-align: center;
                    letter-spacing: -0.04em;
                    text-transform: uppercase;

                    /* White */
                    color: #FFFFFF;
                }
                .stepname{
                    font-family:Mardoto-Medium;
                    font-style: normal;
                    font-weight: 500;
                    font-size: get-vw(18px,1920 );
                    line-height: get-vw(21px,1920 );
                    letter-spacing: -0.04em;
                    text-transform: uppercase;
                     color: #252223;
                    width: max-content;
                    z-index: 41;
                    position: relative;

                }
            }

       }
    }
    .burger{
        width: get-vw(960px,1920);
        min-height:get-vw(581px,1920 );
        background: url("../../images/bg.png");
        background-size: get-vw(879px,1920) get-vw(451px,1920);
        //background-position: center;
        background-repeat: no-repeat;
        display: flex;
        object-fit: cover;
        img{
            width: get-vw(583px,1920);
            height: get-vw(388px,1920);
           margin-top: get-vw(116px,1920 );
            margin-left: get-vw(101px,1920);
           
        }


    }

}



@media  screen and (max-width:600px){
     .home{
         width: get-vw(375px,375 );
         overflow-x: hidden!important;
     }
     slider{
        width: get-vw(375px,375 );  
     }
    .reclams{
        min-width: get-vw(375px,375 );
        min-height:get-vw(100px,375 );
        margin-left: get-vw(0px,375 )!important;
        margin-top: get-vw(40px,375);
        .wraperreclam{
            min-width: get-vw(161px, 375);
            min-height: get-vw(100px,375 );
            border-radius: get-vw(10px, 375);
            margin-left: get-vw(15px,375 )!important;
            .itemreclam{
                width: get-vw(161px, 375);
                height: get-vw(100px,375 );
                border-radius: get-vw(10px, 375);
                object-fit: contain;
                background-repeat: no-repeat;
                background-size: cover;
                transition: transform 0.5s ease;

                &:hover{
                    border-radius: get-vw(10px, 375);
                    transform: scale(1.1);
                    overflow: hidden!important;

                }



            }
            .rectitle{
                min-width: max-content;
                font-size: get-vw(18px,375 );
                line-height: get-vw(21px,375);
                top: get-vw(39px,375);
                left: get-vw(20px,375);

            }
            .rectitle2{
                min-width: max-content;
                font-size: get-vw(18px,375 );
                line-height: get-vw(21px,375);
                top: get-vw(39px,375);
                left: get-vw(30px,375);
            }


        }

    }
    .menu{
        width: get-vw(345px,375 );
        min-height: get-vw(161px,375);
        margin-left: get-vw(15px,375 );
        margin-top: get-vw(17px,375 );
        justify-content: space-between;
        .menuitem{
            width: get-vw(161px,375 );
            min-height:  get-vw(161px,375 );
            border-radius: get-vw(10px,375 );
            margin-left: get-vw(0px,375 );
            margin-top: get-vw(23px,375 );
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color:  #EFEFEF;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                img{
                    filter: grayscale(100%) !important;
                }

            }
            p{
                width: max-content;
                font-family: Mardoto-Medium;
                font-style: normal;
                font-weight: 500;
                font-size: get-vw(18px,375);
                line-height: get-vw(21px, 375);
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: #252223;
                margin-top: get-vw(20px, 375);
                margin-left: get-vw(15px,375 );
            }
            img{
                width: get-vw(130px, 375);
                height: get-vw(84px,375);
                top: get-vw(76px,375);
                margin: 0 auto;



            }

        }
    }
    .rec2{
        display: none;
    }
    .mobileversinsld2{
        display: block;
        width: get-vw(375px,375);
        height: get-vw(308px,375);
        margin-top: get-vw(60px,375);
    }


    .burger{
        display: none!important;
    }
    .aboutblock{
        width: get-vw(375px,375);
        min-height: get-vw(556px,375);
        display: flex;

        .aboutglobal{
            width: get-vw(335px,375);
            min-height: get-vw(556px,375 );


            h1{
                width: get-vw(156px,375);
                font-family: Mardoto-Medium;
                font-size: get-vw(28px, 375);
                line-height: get-vw(33px, 375);
                 margin-left: get-vw(0px,1920 );
                //margin-top: get-vw(100px,1920);

            }
            .aboutp{
                width: get-vw(345px,375);
                min-height: get-vw(208px,375);
                font-size: get-vw(16px, 375);
                margin-top: get-vw( 30px,375);
                margin-left: get-vw(0px,375 );
            }
            .step {
                width: get-vw(259px, 375);
                height: get-vw(245px,375);
                margin-left: get-vw(0px, 375);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: get-vw(40px, 375);
                margin-left: get-vw(30px,375);
               padding-bottom: get-vw(60px,375);

                .itemstop {
                    min-width: max-content;
                    position: relative;

                    div {
                        width: get-vw(46px, 375);
                        height: get-vw(46px, 375);
                        justify-content: center;
                        align-items: center;
                        left: get-vw(-34px, 375);
                        bottom: get-vw(11px, 375);



                    }

                    .circlenumber {
                        font-size: get-vw(18px, 375);
                        line-height: get-vw(21px, 375);

                    }

                    .stepname {
                        font-size: get-vw(18px, 375);
                        line-height: get-vw(21px, 375);


                    }
                }

            }
        }
    }


  }