@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}

.loginconstructor{
  width: get-vw(1920px,1920);
  min-height: get-vw(236px,1920);
  background: #FFFFFF;
  .loginhdr{
    width: get-vw(1920px,1920);
    height: get-vw(236px,1920);

    p{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(48px,1920);
      line-height: get-vw(56px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      margin-left: get-vw(142px,1920);
     padding-top: get-vw(100px,1920);
    }
  }
  .loginuser{
    width: get-vw(1920px,1920);
    height: get-vw(524px,1920);

  }
}
.formcontole{
  width: get-vw(628px,1920);
  min-height: get-vw(524px,1920);
  position: relative;
  margin: get-vw(-25px,1920) auto 0px auto;
  .zabilandzapomnit{
    width:get-vw(628px,1920);
    height: get-vw(22px,1920);
    margin-top:get-vw(30px,1920) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .zabilparol{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(18px,1920);
      line-height: get-vw(22px,1920);
      text-align: right;
      letter-spacing: -0.02em;
      color: #13AD54;
    }
  }
}
.reglink{
  width: get-vw(628px,1920);
  height: get-vw(22px,1920);
  display: flex;
  margin-top: get-vw(50px,1920);
  p{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    letter-spacing: -0.02em;
    color: #252223;
    margin-left: get-vw(142px,1920);
  }
  a{
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(18px,1920);
    line-height: get-vw(22px,1920);
    text-align: right;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #13AD54;
    margin-left: get-vw(10px,1920);

  }
}
.passzabil{
  position: absolute;
  top: get-vw(150px,1920);
  left: get-vw(570px,1920);
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .loginconstructor{
    width: get-vw(375px,375);
    min-height: get-vw(150px,375);

    .loginhdr{
      width: get-vw(375px,375);
      height: get-vw(150px,375);

      p{
       font-size: get-vw(26px,375);
        line-height: 120%;
        margin-left: get-vw(15px,375);
        padding-top: get-vw(60px,375);
      }
    }
    .loginuser{
      width: get-vw(375px,375);
      height: get-vw(409px,375);

    }
  }
  .formcontole{
    width: get-vw(345px,375);
    min-height: get-vw(409px,375);
    position: relative;
    margin: get-vw(-25px,1920) auto 0px auto;
    .zabilandzapomnit{
      width:get-vw(345px,375);
      height: get-vw(22px,375);
      margin-top:get-vw(24px,375) ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .zabilparol{
        font-size: get-vw(13px,375);
        line-height: 160%;

      }
    }
  }
  .reglink{
    width: get-vw(345px,375);
    height: get-vw(26px,375);
    margin-top: get-vw(60px,375);
    p{

      font-size: get-vw(16px,375);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
      margin-left: get-vw(35px,375);
    }
    a{
      font-size: get-vw(16px,375);
      line-height: get-vw(20px,375);
      margin-left: get-vw(8px,375);

    }
  }
  .passzabil{
    display: none;
  }
}