@function get-vw($size, $width){
  $vw-context: $width * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}



.containerProjectmodal{
  width: get-vw(1920px,1920);
  min-height: get-vw(541px,1920);
 //margin-top: 9.79167vw
;
  background: #ffffff;
}
.container2{
  width: get-vw(1920px,1920);
  min-height: get-vw(541px,1920);

  background-position: center;
  background-repeat: no-repeat!important;
  background-size: cover !important;
  padding-top: get-vw(90px,1920);
   a{
     margin-left: get-vw(142px,1920);
     svg{
       margin-left: get-vw(142px,1920);
     }
   }
  .titleproject2{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(80px,1920);
    line-height: get-vw(94px,1920);
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    height: get-vw(120px,1920);
    margin-top: get-vw(90px,1920);


  }
  .dateproj{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(21px,1920);
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: get-vw(20px,1920);
  }
}
.blockinfo1{
  width: get-vw(1636px,1920);
  min-height: get-vw(590px,1920);
  background: #ffffff;
  margin-left: get-vw(142px,1920);
  display: flex;
  .textblok{
    width: get-vw(1382px,1920);
    height: get-vw(340px,1920);
    margin-top: get-vw(100px,1920);
    display: flex;
    p{
      width: get-vw(890px,1920);
      height: get-vw(340px,1920);
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(21px,1920);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
    }
    .burgercount{
      width: get-vw(431px,1920);
      height: get-vw(340px,1920);
      display: flex;
      flex-direction: column;
      margin-top: get-vw(104px,1920);
      h2{
        font-family: Mardoto-Medium;
        font-style: normal;
        font-weight: bold;
        font-size: get-vw(80px,1920);
        line-height: get-vw(94px,1920);
        text-align: center;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #13AD54;
        margin-left: get-vw(160px,1920);
      }
      h4{
        font-family: Montserrat-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: get-vw(21px,1920);
        line-height: 160%;
         text-align: center;
        letter-spacing: -0.02em;
        color: #252223;
        margin-top: get-vw(5px,1920);
        margin-left: get-vw(160px,1920);
      }
    }
  }
}
.sliderblok{
  width: get-vw(1636px,1920);
  height: get-vw(783px,1920);
  margin-left: get-vw(142px,1920);
  display: flex;
  align-items: flex-start;
}
.blokinfo2{
  width: get-vw(1636px,1920);
  min-height: get-vw(770px,1920);
 margin-left: get-vw(142px,1920);
  background: #ffffff;
  display: flex;
}
.blokinfotext{
  width: get-vw(914px,1920);
  height: get-vw(486px,1920);
 display: flex;
  flex-direction: column;
  .storaket{
    width: get-vw(148px,1920);
    height: get-vw(131px,1920);

  }
  .text2{
    width: get-vw(890px,1920);
    height: get-vw(176px,1920);
    font-family: Montserrat-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(26px,1920);
    line-height: 170%;
     letter-spacing: -0.04em;
     text-transform: uppercase;
     color: #252223;
    margin-top: get-vw(60px,1920);
  }
  h4{
    font-family: Mardoto-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: get-vw(21px,1920);
    line-height: get-vw(25px,1920);
     letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #000000;
    margin-top: get-vw(50px,1920);
  }
  h6{
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: get-vw(21px,1920);
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #252223;
    margin-top: get-vw(10px,1920);
  }
}
.positionimageblok{
  width: get-vw(685px,1920);
  height: get-vw(611px,1920);

  margin-left: get-vw(60px,1920);
  position: relative;
}
.bigimg{
  width: get-vw(565px,1920);
  height: get-vw(565px,1920);
  border-radius: get-vw(14.9077px,1920);
  background-color: #26B462;
  background-image: url("../../../images/product/bgprojrctbigburger.png");
  background-size: contain;
  margin-left: get-vw(121px,1920);
  img{
    width: get-vw(565px,1920);
    height: get-vw(379px,1920);
    margin-top: get-vw(93px,1920);
  }

}
.smolimg{
  width: get-vw(240px,1920);
  height: get-vw(240px,1920);
  position: absolute;
  background-color: #EC3737;
  background-image: url("../../../images/product/bgprojrctbigburger.png");
  background-size: contain;
  top: get-vw(371px,1920);
  border-radius: get-vw(14.9077px,1920);
  img{
    width: get-vw(239px,1920);
    height: get-vw(160px,1920);
    margin-top: get-vw(39px,1920);
  }
}
.youtoobevideo{
  width: get-vw(1636px,1920);
  height: get-vw(1020px,1920);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  iframe{
    width: get-vw(1636px,1920);
    height: get-vw(920px,1920);
    margin-left: get-vw(142px,1920);
  }
}

@media screen and (max-width: 500px) {
  .containerProjectmodal{
    width: get-vw(375px,375);
    min-height: get-vw(331px,375);

  }
  .container2{
    width: get-vw(375px,375);
    min-height: get-vw(331px,375);
    background-position: center;
    background-repeat: no-repeat!important;
    background-size: cover !important;
    padding-top: get-vw(60px,375);
    a{
      margin-left: get-vw(15px,375);
      svg{
        margin-left: get-vw(15px,375);
      }
    }
    .titleproject2{
     font-size: get-vw(34px,375);
      line-height: 120%;
      height: get-vw(41px,375);
      margin-top: get-vw(115px,375);


    }
    .dateproj{
      font-size: get-vw(14px,375);
      line-height: 150%;
      margin-top: get-vw(40px,375);
    }
  }
  .blockinfo1{
    width: get-vw(345px,375);
    margin-left: get-vw(15px,375);
    display: flex;
    .textblok{
      width: get-vw(345px,375);
      min-height: get-vw(592px,375);
      margin-top: get-vw(60px,375);
      display: flex;
       flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: flex-end;

      p{
        margin-top: get-vw(30px,375);
        width: get-vw(345px,375);
        min-height: get-vw(100px,1920);
        font-size: get-vw(16px,375);
        line-height: 160%;
      }
      .burgercount{
        width: get-vw(345px,375);
        height: get-vw(94px,375);
        display: flex;
        flex-direction: unset;
        margin-top: get-vw(0px,375);
        h2{
          font-size: get-vw(80px,375);
          line-height: get-vw(94px,375);
         margin-left: get-vw(15px,375);
        }
        h4{
           font-size: get-vw(21px,375);
          line-height: 160%;

          margin-top: get-vw(30px,375);
          margin-left: get-vw(24px,375);
        }
      }
    }
  }
  .sliderblok{
    width: get-vw(1636px,1920);
    height: get-vw(783px,1920);
    margin-left: get-vw(142px,1920);
    display: flex;
    align-items: flex-start;
  }
  .blokinfo2{
    width: get-vw(1636px,1920);
    min-height: get-vw(770px,1920);
    margin-left: get-vw(142px,1920);
    background: #ffffff;
    display: flex;
  }
  .blokinfotext{
    width: get-vw(914px,1920);
    height: get-vw(486px,1920);
    display: flex;
    flex-direction: column;
    .storaket{
      width: get-vw(148px,1920);
      height: get-vw(131px,1920);

    }
    .text2{
      width: get-vw(890px,1920);
      height: get-vw(176px,1920);
      font-family: Montserrat-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(26px,1920);
      line-height: 170%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #252223;
      margin-top: get-vw(60px,1920);
    }
    h4{
      font-family: Mardoto-Medium;
      font-style: normal;
      font-weight: 500;
      font-size: get-vw(21px,1920);
      line-height: get-vw(25px,1920);
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #000000;
      margin-top: get-vw(50px,1920);
    }
    h6{
      font-family: Montserrat-Regular;
      font-style: normal;
      font-weight: normal;
      font-size: get-vw(21px,1920);
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #252223;
      margin-top: get-vw(10px,1920);
    }
  }
  .positionimageblok{
    width: get-vw(685px,1920);
    height: get-vw(611px,1920);

    margin-left: get-vw(60px,1920);
    position: relative;
  }
  .bigimg{
    width: get-vw(565px,1920);
    height: get-vw(565px,1920);
    border-radius: get-vw(14.9077px,1920);
    background-color: #26B462;
    background-image: url("../../../images/product/bgprojrctbigburger.png");
    background-size: contain;
    margin-left: get-vw(121px,1920);
    img{
      width: get-vw(565px,1920);
      height: get-vw(379px,1920);
      margin-top: get-vw(93px,1920);
    }

  }
  .smolimg{
    width: get-vw(240px,1920);
    height: get-vw(240px,1920);
    position: absolute;
    background-color: #EC3737;
    background-image: url("../../../images/product/bgprojrctbigburger.png");
    background-size: contain;
    top: get-vw(371px,1920);
    border-radius: get-vw(14.9077px,1920);
    img{
      width: get-vw(239px,1920);
      height: get-vw(160px,1920);
      margin-top: get-vw(39px,1920);
    }
  }
  .youtoobevideo{
    width: get-vw(1636px,1920);
    height: get-vw(1020px,1920);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    iframe{
      width: get-vw(1636px,1920);
      height: get-vw(920px,1920);
      margin-left: get-vw(142px,1920);
    }
  }

}
